{% extends 'base.html.twig' %}

{% block body %}
<section id="private_policy" class="container">
    <div class="logo">
        <img src="{{ asset ('logos/flat_logo_small.png') }}" alt="">
</div>
    <h1>POLITIQUE DE CONFIDENTIALITÉ</h1>
    <div class="treat"></div>
    <h2>Introduction</h2>
    <p> Dans le cadre de l’utilisation de ses services et notamment des services accessibles
        sur son site internet, son site mobile, sa boutique en ligne et ses applications
        mobiles, L'Hôtel Altone, en qualité de responsable de traitement, est susceptible de
        collecter et traiter des données à caractère personnel vous concernant.
    </p>
    <p>Nous sommes attachés au respect des règles de protection de la vie privée des
        prospects et des visiteurs de nos sites: site internet, site mobile, boutique
        en ligne et applications mobiles. L'ensemble des traitements de données personnelles
        mis en œuvre dans le cadre des services accessibles respecte la réglementation locale
        applicable en matière de protection des données personnelles et notamment les
        dispositions de la loi « informatique et libertés » du 6 janvier 1978 modifiée et le
        Règlement Général sur la Protection des Données (Règlement UE 2016/679) ou « RGPD ».
    </p>
    <h2>1 - QUELS SONT NOS ENGAGEMENTS EN MATIÈRE DE PROTECTION DES DONNÉES PERSONNELLES ?</h2>
    <p>L'Hôtel Altone s'engage à garantir un niveau de protection élevé des données personnelles de
        ses clients, prospects, utilisateurs de ses sites: site internet, site mobile, boutique
        en ligne et applications mobiles et de toute autre personne dont elle traite les données
        personnelles.
    </p>
    <p>L'Hôtel Altone s'engage à respecter la règlementation applicable à l'ensemble des traitements
        de données personnelles qu'elle met en œuvre :
    </p>
    <ul>
        <li>Vos données personnelles sont traitées de manière licite, loyale et transparente ;
        </li>
        <li>Vos données personnelles sont collectées pour des finalités déterminées, explicites
            et légitimes, et ne sont pas traitées ultérieurement d'une manière incompatible avec
            ces finalités ;
        </li>
        <li>Vos données personnelles sont conservées de manière adéquate, pertinente et sont
            limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont
            traitées ;
        </li>
        <li>Vos données personnelles sont exactes, tenues à jour et toutes les mesures raisonnables
            sont prises pour que les données inexactes, eu égard aux finalités pour lesquelles
            elles sont traitées, soient effacées ou rectifiées sans tarder.
        </li>
    </ul>
    <p>L'Hôtel Altone met en œuvre les mesures techniques et organisationnelles appropriées afin de
        garantir un niveau de sécurité adapté au risque inhérent à ses opérations de traitement,
        répondre aux exigences règlementaires et protéger les droits et les données des personnes
        concernées dès la conception des opérations de traitement.
    </p>
    <p>Par ailleurs, l'Hôtel Altone impose contractuellement le même niveau de protection des données
        personnelles à ses sous-traitants (prestataires, fournisseurs, etc.).
    </p>
    <h2>2 - QUELLES SONT LES DONNÉES PERSONNELLES QUE NOUS COLLECTONS ?</h2>
    <h3>A - En fonction du but de la collecte</h3>
    <p>Les données personnelles que nous collectons varient en fonction du but de la collecte et
        du Service que nous vous fournissons.
    </p>
    <p>Généralement, nous pouvons être amenés à collecter de manière directe les catégories de
        données personnelles suivantes :
    </p>
    <p>a) coordonnées personnelles, telles que votre nom, votre prénom, votre adresse e-mail,
        votre adresse postale et votre ou vos numéro(s) de téléphone ;
    </p>
    <p>b) les identifiant utilisés pour accéder à votre compte en ligne, soit le nom d'utilisateur
        et le mot de passe. Cela nous est nécessaire pour créer un compte d'utilisation personnel ;
    </p>
    <p>c) échanges avec nous, ce qui peut inclure les détails des conversations par le biais du chat,
        du service consommateur ;
    </p>
    <p>d) informations démographiques, telles que votre âge, votre genre et vos préférences de modes
        de vie (entre autres vos produits favoris et l'intérêt que vous y portez) ;
    </p>
    <p>e) historiques de navigation, telles que les pages visitées, la date de la visite, la
        localisation lors de la visite, ou encore l'adresse IP ;
    </p>
    <p>f) informations relatives au paiement lorsqu'un achat ou une réservation est réalisé sur l'un
        de nos sites, boutiques en ligne, ou l'une de nos applications. Généralement la facture est
        éditée à votre nom, votre adresse de facturation et données de paiement telles que votre carte
        de crédit ou votre compte bancaire ;
    </p>
    <p>Nous pouvons également collecter des données personnelles vous concernant de manière indirecte
        lorsque vous partagez du contenu sur les réseaux sociaux, sites internet, boutique ou
        applications relatifs à nos produits et prestations, ou répondant à nos post et nos annonces
        promotionnelles sur les réseaux sociaux.
    </p>
    <h3>B - Données personnelles concernant les mineurs</h3>
    <p>l'Hôtel Altone ne collecte ni ne traite de données personnelles relatives aux enfants de moins de 18
        ans sans accord préalable des parents ou titulaires de la responsabilité parentale à l'égard
        de l'enfant.
    </p>
    <p>Si des données personnelles concernant des enfants sont collectées via nos sites: site internet,
        site mobile, boutique en ligne et applications mobiles, les parents ou titulaires de l'exercice
        de l'autorité parentale ont la possibilité de s'y opposer en nous contactant à l'adresse indiquée
        en bas de cette page.
    </p>
    <h2>3 - COMMENT SONT COLLECTÉES LES DONNÉES PERSONNELLES ?</h2>
    <h3>A - Moyens de collecte de vos données</h3>
    <p>Dans le cadre de nos relations, vous êtes susceptibles de nous communiquer vos données personnelles
        par différents moyens et notamment sur nos sites: site internet, site mobile, boutique en ligne et
        applications mobiles lors de vos navigations internet, achats, réservations, en remplissant les
        divers formulaires de collecte, lors d'une souscription à la e-newsletter, lors de la création d'un
        compte, lorsque vous déposez une candidature, lorsque vous publiez des commentaires sur nos pages
        de réseaux sociaux, lorsque vous établissez tout contact avec notre établissement ou lorsque vous
        nous transmettez de toute autre manière vos données personnelles.
    </p>
    <h3>B - Adresse IP</h3>
    <p>L'adresse IP est une série de chiffres qui est assignée automatiquement à votre ordinateur par
        votre fournisseur d'accès internet à chaque connexion. A chacune de vos requêtes sur le site,
        nos serveurs enregistrent la trace de votre passage. Nous collectons les adresses IP dans le but
        d'analyser les tendances sur le site. Nous ne transmettons aucune information qui permette de vous
        identifier, ce qui veut dire que votre session sera enregistrée, mais restera anonyme pour nous.
        Nous pouvons utiliser votre adresse IP en coopération avec votre fournisseur d'accès internet pour
        vous identifier dans le cas où nous devrions appliquer les conditions d'utilisation pour protéger
        nos services, clients ou par respect des lois en vigueur.
    </p>
    <h3>C - Cookies</h3>
    <p>Afin d'améliorer constamment la qualité des services proposés sur nos sites: site internet, site
        mobile, boutique en ligne et application mobile et leur adéquation avec vos attentes, HÔTEL D est
        susceptible d'utiliser des « cookies », fichiers texte servant à identifier votre terminal lorsque
        vous vous connectez à l'un de nos services. Le dépôt de cookie ou traceur dans votre terminal
        (ordinateur, tablette, smartphone, etc.) permet à l'Hôtel Altone de collecter des informations et données
        personnelles, selon votre choix de paramétrage de votre terminal.
    </p>
    <p>Types de cookies utilisés :</p>
    <p>a) Cookies indispensables à l'utilisation du site. Ils vous permettent d'utiliser les principales
        fonctionnalités du site, telles que l'achat ou la réservation de prestations par exemple. En
        désactivant l'utilisation des cookies, vous ne pourrez plus bénéficier de ces fonctionnalités.
        Les informations conservées ne peuvent être utilisées à des fins commerciales.
    </p>
    <p>b) Cookies de performance du site. Les cookies de performance nous permettent d'optimiser notre site
        internet et de détecter les éventuels problèmes techniques que vous pourriez rencontrer. Ils nous
        permettent de recueillir des informations sur la façon dont vous utilisez le site, notamment le
        nombre de visites par page, le nombre de messages d'erreur affichés, le temps passé sur une page,
        ou encore le nombre de clics sur une zone du site. Les informations conservées ne peuvent être
        utilisées à des fins commerciales.
    </p>
    <p>c) Cookies de fonctionnalités. Ces cookies permettent au site de mémoriser les choix que vous avez
        effectués (comme votre nom d'utilisateur, la langue choisie ou la région où vous vous trouvez) et
        fournir des caractéristiques plus précises et personnelles. Ces cookies peuvent aussi être utilisés
        pour mémoriser les modifications apportées par l'utilisateur, comme la taille du texte ou la police
        de caractères. Ils peuvent également servir pour fournir des services que vous avez sollicités,
        comme regarder une vidéo ou laisser un commentaire sur un blog. Les informations collectées par ces
        cookies peuvent être rendues anonymes et ne peuvent pas suivre votre activité de navigation sur
        d'autres sites. En utilisant notre site Web, vous acceptez de recevoir ce type de cookies sur votre
        dispositif.
    </p>
    <p>d) Cookies de marketing publicitaire. Ces cookies collectent des informations concernant vos habitudes
        en matière de navigation Internet afin de vous proposer des publicités qui vous sont adaptées et
        correspondent à vos centres d'intérêt. Ils permettent également de limiter le nombre de fois que vous
        verrez une publicité et nous aident à évaluer l'efficacité de nos campagnes publicitaires. Ils sont en
        général installés par des réseaux publicitaires avec l'autorisation de l'opérateur du site Internet.
        Ils mémorisent les visites effectuées sur un site et partagent ces informations avec d'autres entreprises
        (des publicitaires par exemple). Les cookies ciblés ou publicitaires sont souvent liés aux fonctionnalités
        du site fournies par l'entreprise partenaire. Les informations sont collectées et partagées avec des tiers
        pour proposer des ciblages d'audience et des solutions d'optimisation pour les annonceurs publicitaires et
        les éditeurs. Aucune donnée personnelle n'est recueillie et un individu ne peut être identifié via les
        données collectées.
    </p>
    <p>e) Cookies provenant des sites internet tiers et réseaux sociaux Notre site Internet contient des liens
        et/ou des contenus renvoyant vers d'autres sites et réseaux sociaux, et nous ne savons pas quels sont les
        cookies utilisés par ces derniers. Pour en savoir plus, veuillez consulter les informations fournies par
        ces sites tiers et réseaux sociaux sur leurs propres cookies.
    </p>
    <h3>D - Respect de votre vie privée</h3>
    <p>Nous nous engageons en faveur de la protection de votre privée et respectons les 2 principes suivants.
    </p>
    <p>- Nous ne fournissons aucune information personnelle aux annonceurs ni aux sites tiers qui affichent nos
        annonces basées sur vos centres d'intérêt.
    </p>
    <p>Si votre ordinateur ou votre mobile est utilisé par plusieurs personnes, ou s'il dispose de plusieurs
        logiciels de navigation, il est possible que les contenus affichés aux autres utilisateurs correspondent
        à vos préférences. Si vous le souhaitez, vous pouvez modifier les paramètres de votre navigateur.
    </p>
    <p>Pour plus d'informations sur la façon dont fonctionnent les cookies et la publicité ciblée, vous pouvez
        consulter le site de la Cnil :
        <br>
        <p><a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser">https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser</a>.</p>
    </p>
    <h3>E - Liens vers des sites tiers</h3>
    <p>Nos sites: site internet, site mobile, boutique en ligne et applications mobiles peuvent comporter des
        liens redirigeant vers des sites Web tiers.
    </p>
    <p>Nous déclinons toute responsabilité dans la collecte, l'utilisation, la gestion, le partage ou la
        divulgation de données et d'informations par ces tiers.
    </p>
    <p>La communication d'informations sur les sites tiers est régie par la politique de confidentialité et les
        conditions d'utilisation de ces sites. Nous vous recommandons de lire les politiques de confidentialité
        de ces sites Web avant de soumettre toute information personnelle.
    </p>
    <h2>4 - À QUOI SERVENT LES DONNÉES SUSCEPTIBLES D'ÊTRE COLLECTÉES ?</h2>
    <p>Vos données sont principalement utilisées à des fins de réservation et d'achat (fourniture de prestations,
        de services spécifiques et de produits), prospection, fidélisation, animation, information commerciale,
        enquêtes de satisfaction, organisation de jeux concours, nouveaux services et produits destinés à
        améliorer votre expérience client au sein de notre établissement, études statistiques, recrutement,
        service après-vente, traitement de vos demandes et/ou réclamations. Outre les cas où votre consentement
        a été recueilli (notamment pour vous communiquer des offres personnalisées), le traitement de vos données
        pour les différentes finalités susvisées est notamment nécessaire :
    </p>
    <ul>
        <li>Pour assurer l'exécution du contrat de prestations ; </li>
        <li>Pour respecter une obligation légale ;</li>
        <li>Aux fins des intérêts légitimes poursuivis par notre établissement (notamment développer des nouveaux
            services et offres, améliorer le service client…).
        </li>
    </ul>
    <p>Plus particulièrement, vos données sont utilisées :</p>
    <ul>
        <li>Pour vous permettre de bénéficier de l'ensemble des services ou prestations disponibles sur le site
            internet de notre établissement, son site mobile, sa boutique et ses applications mobiles : création
            d'un compte utilisateur, e-newsletter, gestion des réservations, assistance et réclamation, gestion
            des programmes de fidélité, etc. ;
        </li>
        <li>Pour vous permettre de naviguer sur nos sites internet ; </li>
        <li>Pour faire correspondre au mieux nos informations, nos notifications, nos offres et autres formes de
            services à vos intérêts ;
        </li>
        <li>Pour faciliter l'accomplissement des formalités administratives relatives à la réservation et à l'achat.
        </li>
    </ul>
    <h2>5 - COMBIEN DE TEMPS VOS DONNÉES SONT-ELLES CONSERVÉES ?</h2>
    <p>L'Hôtel Altone s'engage à conserver vos données personnelles pour une durée n'excédant pas celle nécessaire aux
        finalités pour lesquelles elles sont traitées.
    </p>
    <p>Les durées de conservation sont définies en fonction des finalités de traitement mis en œuvre par l'Hôtel Altone
        et
        tiennent notamment compte des dispositions légales applicables imposant une durée de conservation précise
        pour certaines catégories de données, des éventuels délais de prescription applicables ainsi que des
        recommandations de la CNIL concernant certaines catégories de traitements de données.
    </p>
    <h2>6 - QUI EST SUSCEPTIBLE D'ACCÉDER À VOS DONNÉES PERSONNELLES ?</h2>
    <h3>A - Destinataires de vos données</h3>
    <p>Les données collectées sur nos site internet, site mobile, boutique en ligne et applications mobiles, sont
        susceptibles d'être communiquées à notre personnel interne, ou à ses prestataires de services annexes
        (sous-traitants, prestataires, banques), dans le cadre de l'accomplissement de tout ou partie des prestations
        visées ci-dessus. Nous vous rappelons que dans ce cadre, l'Hôtel Altone demande à ses prestataires de mettre en
        place des mesures strictes de confidentialité et de protection de ces données.
    </p>
    <h3>B - Transferts de données hors de l'Union Européenne</h3>
    <p>Les données personnelles peuvent être traitées en dehors de l'Espace Economique Européen (EEE). Si c'est le cas,
        l'Hôtel Altone mettra tout en œuvre pour que ce transfert international de données dispose d'un niveau et de
        garanties
        de sécurité adéquats.
    </p>
    <h2>7 - COMMENT EXERCER VOS DROITS ?</h2>
    <p>Conformément à la réglementation applicable en matière de protection des données personnelles, vous pouvez, à
        tout moment, exercer vos droits d'accès, de rectification, de suppression des données vous concernant ainsi que
        vos droits de limitation et d'opposition au traitement et à la portabilité de vos données personnelles.
    </p>
    <p>En outre, vous disposez légalement du droit de définir des directives relatives au sort de vos données à
        caractère
        personnel post mortem.
    </p>
    <p>Par ailleurs, toute personne mineure au moment de la collecte de ses données personnelles peut en obtenir
        l'effacement dans les meilleurs délais.
    </p>
    <p>Ces droits s'exercent par courrier à l'adresse suivante :</p>
    <p>Hôtel Altone<br>Chemin de l'île Ardouin<br>49400 Saumur<br>France <br><a href="#">contact@altone.fr</a></p>
    <p>Dans ce cadre, nous vous prions de bien vouloir accompagner votre demande des éléments nécessaires à votre
        identification (nom, prénom, e-mail) ainsi que toute autre information nécessaire à la confirmation de votre
        identité. Vous disposez également d'un droit de recours auprès de la Commission Nationale de l'Informatique et
        des Libertés en cas de violation de la réglementation applicable en matière de protection des Données
        Personnelles
        et notamment du RGPD.
    </p>
    <h2>8 - SÉCURITÉ INFORMATIQUE / SÉCURISATION DES TRANSACTIONS</h2>
    <p>Veiller à la sécurité et à la confidentialité des données personnelles que vous nous confiez est une priorité
        pour
        l'Hôtel Altone. Nous mettons ainsi en œuvre toutes les mesures techniques et organisationnelles utiles, au
        regard de la
        nature, de la portée et du contexte des données personnelles que vous nous communiquez et des risques présentés
        par leur traitement, pour préserver la sécurité de vos données personnelles et, notamment, empêcher toute
        destruction,
        perte, altération, divulgation, intrusion ou accès non autorisé à ces données, de manière accidentelle ou
        illicite.
    </p>
    <p>L'Hôtel Altone s'efforce de lutter contre les pratiques d'usurpation d'identité sur internet. C'est la raison
        pour laquelle
        nous utilisons par exemple un dispositif de détection des paiements frauduleux effectués par carte bancaire. Ce
        dispositif a vocation à vous protéger en cas de perte ou de vol de votre carte bancaire.
    </p>
    <p>La sécurité et la confidentialité des données personnelles reposent sur les bonnes pratiques de chacun. C'est la
        raison pour laquelle nous vous invitons à ne pas communiquer vos mots de passe à des tiers, à vous déconnecter
        systématiquement de votre profil et de votre compte social (notamment en cas de comptes liés) et à fermer la
        fenêtre de votre navigateur à l'issue de votre session de travail, particulièrement si vous accédez à internet
        depuis un poste informatique partagé avec d'autres personnes. Vous éviterez ainsi que d'autres utilisateurs
        accèdent à vos informations personnelles.
    </p>
    <h2>9 - CONTACTEZ-NOUS</h2>
    <p>Pour toute question complémentaire relative à cette politique ou à la manière dont l'Hôtel Altone traite vos
        données
        personnelles, nous vous invitons à nous contacter à l'adresse suivante : <a href="#">contact@altone.fr</a>
    </p>
    <h2>10 - MODIFICATIONS DE LA DECLARATION</h2>
    <p>L'Hôtel Altone se réserve le droit d'adapter la politique de protection des données personnelles. Lorsque nous
        apportons
        des modifications substantielles à la présente Déclaration, nous publions sur la page d'accueil de notre site un
        lien vers la Déclaration.
    </p>
</section>
{% endblock %}