{% extends 'admin.html.twig' %}

{% block title %}Nouveau Menu{% endblock %}

{% block body %}
    <h1>Créer nouveau menu</h1>

    {{ include('menus/_form.html.twig') }}

    <a href="{{ path('menus_admin') }}">Retour à la liste des menus</a>
{% endblock %}
