{% extends 'admin.html.twig' %}

{% block title %}Nouveau Menu{% endblock %}

{% block body %}
<section id="new">
    <h1>Créer nouveau menu</h1>

    {{ include('menus/_form.html.twig') }}

    <a class="btn" href="{{ path('menus_admin') }}" rel="noopener noefferer">Retour à la liste</a>
</section>
{% endblock %}
