{% extends 'base.html.twig' %}

{% block title %}Nouvelle chambre{% endblock %}

{% block body %}
    <h1>Créer une nouvelle chambre</h1>

    {{ include('rooms/_form.html.twig') }}

    <a href="{{ path('rooms_index') }}">Retour à la liste des chambres</a>
{% endblock %}
