{% extends 'base.html.twig' %}

{% block title %}Créer de Nouvelles options{% endblock %}

{% block body %}
    <h1>Créer de Nouvelles options</h1>

    {{ include('option_type_room/_form.html.twig') }}

    <a href="{{ path('option_type_room_admin') }}">Retour à la liste</a>
{% endblock %}
