/*========================= GLOBAL ============================*/

*
{
    font-family: 'Roboto', sans-serif;
}
h1
{
    font-family: 'Parisienne', cursive;
}
h2
{
    font-family: 'Parisienne', cursive;
    font-size: 50px;
    color: rgb(81, 132, 199);
}

h3
{
    font-family: 'Parisienne', cursive;
    font-size: 35px;
    color: rgb(105, 184, 142);
}
h4
{
    font-style: italic;
}
p
{
    color: rgb(78, 78, 77);
}

.btn
{
    width: 120px;
    color: rgb(255, 255, 255);
    background-color: rgb(105, 184, 142);
}

.btn:hover
{
    color: rgb(60, 128, 218);
}

.treat
{
    width: 300px;
    height: 2px;
    background-color: rgb(105, 184, 142);
    margin: 100px auto;
}

/* ===================  BASE.HTML.TWIG ==========================*/
/* ------------------------ HEADER ---------------------*/

header
{
    width: 100%;

        #banner
        {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            background-color: rgb(105, 184, 142);
            color: rgb(255, 255, 255);
            margin: auto;

                p
                {
                    margin-top: 10px;
                }
                i
                {
                    margin-right: 15px;
                }
        }

        #navbar
        {
            background-color: rgb(78, 78, 77);
            nav
            {
                img
                {
                    height: 50px;
                }
                a
                {
                    color: rgb(105, 184, 142) !important;
                    font-size: 20px;
                }
                a:hover
                {
                    color: rgb(81, 132, 199)!important;
                    transition: 0.8s;
                }              
            }
        }
}

/* ====================== FOOTER ==========================*/

footer
{
    
    margin-top: 150px;
    width: 100%;
    height: 250px;
    background-color: rgb(117, 117, 112);
    
    img
    {
        height: 80px;
        display: block;
        margin: 20px auto 0 auto;
    }
    .footer_archors
    {
        display: flex;
        justify-content: center;
    }
    a
    {
        color: rgb(105, 184, 142);
        text-decoration: none;
        margin: 20px 10px 25px 10px;
    }
    p
    {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
}

/* =================== ADMIN.HTML.TWIG ==========================*/

#navbar_admin
{
    border-bottom: solid 2px rgb(81, 132, 199);
    nav
    {
        img
        {
            height: 50px;
        }
        a
        {
            color: rgb(105, 184, 142) !important;
            font-size: 18px;
        }
        a:hover
        {
            color: rgb(81, 132, 199)!important;
            transition: 0.8s;
        }              
    }
}

#side_bar
{
    margin-bottom: -150px;
    text-align: center;

        nav
        {
            border-right: solid 3px rgb(105, 184, 142);
            border-bottom: solid 3px rgb(81, 132, 199);
            border-left: solid 3px rgb(105, 184, 142);
                
                .navbar-brand
                {
                    height: 120px;
                    padding-top: 20px;
                    margin-left: 20px;
                    margin-bottom: 30px;
                    border-bottom: solid 1px rgb(78, 78, 77);
                }
                    a
                    {
                        font-size: 25px;
                        color: rgb(78, 78, 77);
                    }
                .nav-link
                {
                    font-size: 15px;
                    color: rgb(81, 132, 199);
                }
                .nav-link:hover
                {
                    color: rgb(105, 184, 142);
                }
        }
        .container
        {
            display: flex;
            flex-direction: column;
        }
        .navbar-nav
        {
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
        }
        // .admin_content
        // {
        //     text-align: center;
        //     margin: auto;
        // }
}

/*====================== HOME PAGE ========================*/

#main_title
        {
            width: 100%;
            height: 800px;
            background-image: url("../images/chateau.jpg");
            background-position: center center;
            background-size: cover;

                img
                {
                    height: 150px;
                    display: block;
                    margin: auto;
                    padding-top: 20px;
                }
                h1
                {
                    text-align: center;
                    padding-top: 20px;
                    color: rgb(49, 49, 48);
                    font-size: 35px;
                    font-style: italic;
                    margin: 0 300px 0 300px;
                    font-family: 'Roboto, cursive';
                }
        }

#banner_reservation
{
    height: 120px;
    background-color: rgb(105, 184, 142);
    margin-top: -60px;
    color: rgb(81, 132, 199);
    text-align: center;

        h2
        {
            padding-top: 35px;
        }
        a
        {
            font-size: 35px;
            font-style: italic;
            text-align: center;
            color: rgb(255, 255, 255);
            text-decoration: none;
            margin-top: 25px;
        }
        a:hover
        {
            color: rgb(81, 132, 199)!important;
            border-bottom: solid 4px rgb(81, 132, 199);
            transition: 0.5s;
        }
}

#welcome
{
    margin: 100px 0 80px 0;
        
        img
        {
            width: 100%;
        }
        
        .welcome_txt
        {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;        
        
            span
            {
                color: rgb(105, 184, 142);
                font-size: 23px;
                font-weight: bold;
            }

            p
            {
                font-size: 16px;
            }
        }
}

/*----------section amenities_banner------*/

#amenities_banner
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(105, 184, 142);

        .amenities_banner_element
        {
            text-align: center;
            margin: 20px 0 20px 0 ;

                i
                {
                    color: rgb(81, 132, 199);
                }
            
                .fa-wifi, .fa-key
                {
                    font-size: 33px;
                }

                .fa-parking
                {
                    font-size: 42px;
                }
                h3
                {
                    margin: 20px 0;
                    color: rgb(228, 228, 228);
                    font-weight: normal;
                }
                p
                {
                    width: 300px;
                    color: rgb(78, 78, 77);
                    font-style: italic;
                }
        }
}

/*----------section rooms_home_page------*/

#rooms_home_page
{
    margin-top: 80px;
       
        .suite_home_page
        {
            margin-top: 60px;
            
            img
            {
                max-width: 100%;
            }

            .suite_home_page_txt
            {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                margin-top: -15px;
            
                    h4
                    {
                        margin: -15px 0 22px 0; 
                        color: rgb(105, 184, 142);
                        font-size: 20px;
                    }
                    
                    i
                    {
                        font-size: 20px;
                        color: rgb(105, 184, 142);
                    }

                    .man
                    {
                        margin-right: 17px;
                    }
                    
                    .fa-square, .fa-bath
                    {
                        margin: 0 22px 0 8px;
                    }

                    .fa-eye
                    {
                        margin: 0 19px 0 7px;
                    }
            }
        }

        .rooms_kind_home_page
        { 
                margin-top: 80px;

                img
                {
                    max-width: 100%;
                }
                
                .rooms_home_page_txt
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                }
        }
}

/*-----section restaurant_home_page-----*/

#restaurant_home_page
{

        .restaurant_home_page_txt
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        img
        {
            max-width: 100%;
        }
}

/*----------section location_home_page--------*/

#location_home_page
{
    margin-top: 80px;

        h2
        {
            margin-bottom: 50px;
        }
        
        .location_infos
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        p
        {
            margin: 20px 0 20px 80px;
        }

        i
        {
            margin-right: 20px;
            color: rgb(105, 184, 142);
        }
}

/*====================== PAGE REGISTER ==========================*/

#inscription
{
    height: 1000px;
    text-align: center;
    background-color: rgb(105, 184, 142);

        .inscription
        {
            text-align: center;
            width: 500px;
            height: 800px;
            background-color: rgb(255, 255, 255);
            margin: auto;
        }
}

/* ==================== PAGE PRIVATE POLICY ===================*/

#private_policy
{
    .logo
    {
        text-align: center;
        margin-top: 100px;
    }
    h1,h2
    {
        text-align: center;
    }
    h1
    {
        margin-top: 150px;
    }
    .treat
    {
        width: 100%;
        margin-top: 40px;
    }
    h2
    {
        margin: 70px 0 50px 0;
        font-size: 25px;
    }
    h3
    {
        font-size: 20px;
        margin: 15px 0 20px 0;
    }
}

/* ===================== PAGE RESERVATION========================*/

/*----------section reservation_detail------*/
.reservation_detail
{
    color: green;
}

/* =================== TYPE ROOM PAGE ======================*/

#type_rooms_title
{
    width: 100%;
    height: 600px;
    background-image: url("../images/main_type_room.jpg");
    background-position: center center;
    background-size: cover;
    text-align: center;

        h1
        {
            font-size: 80px;
            padding-top: 50px;
            color: rgb(81, 132, 199);            
        }
}

#type_rooms
    {   
        img
        {
            width: 100%;
        }
        
        .sentence
        {
            margin-top: 80px;
            font-size: 25px;
            font-style: italic;
            text-align: center;
            color: rgb(78, 78, 77);
        }
        .type_room
        {
            margin-top: 50px;
        }
            .name_price
            {
                display: flex;
                justify-content: space-between;

                    h3
                    {
                        font-family: 'Roboto', cursive;
                        font-size: 30px;
                    }
            }
            
            p
            {
               margin-bottom: 40px;
               font-size: 17px;
            }
            
            .col_opt
            {
                display: flex;
            }
                
                span
                {
                    margin-bottom: 30px;
                }
                
                .logo
                {
                    color: rgb(81, 132, 199)
                }
                
                .option
                {
                    margin-left: 15px;
                    color: rgb(78, 78, 77)
                }
            
            .reservation
            {
                text-align: center;
                margin-top: 30px;
            }
    }

/* =================== PAGE RESTAURANT ======================*/

#restaurant_title
{
    width: 100%;
    height: 800px;
    background-image: url("../images/restaurant.jpg");
    background-position: center center;
    background-size: cover;
    text-align: center;
    

        h1
        {
            padding-top: 60px;
            font-size: 80px;
            color: rgb(105, 184, 142);
        
                span
                {
                    color: rgb(105, 184, 142);
                    font-family: 'Parisienne', cursive;
                }
        }
}

/* =================== AMENITIES PAGE ======================*/

#amenities_title
{
    width: 100%;
    height: 800px;
    background-image: url("../images/amenities.jpg");
    filter: opacity(85%);
    background-position: center center;
    background-size: cover;
    text-align: center;

        h1
        {
            font-size: 80px;
            font-weight: bold;
            padding-top: 35px;
        }
}

#amenities
{
    .sentence
    {
        text-align: center;
        margin: 80px 0 -20px 0;
        font-size: 20px;
        font-style: italic;
    }

    img
    {
        width: 100%;
    }
}

/* =================== DISCOVERY PAGE ======================*/

#discoveries_title
{
    width: 100%;
    height: 600px;
    background-image: url("../images/discovery.jpg");
    filter: opacity(85%);
    background-position: center center;
    background-size: cover;
    text-align: center;
    

        h1
        {
            padding-top: 170px;
            font-size: 80px;
            color: rgb(255, 255, 255);
        }
}

#discoveries
{
    .sentence
    {
        margin: 70px 0 -20px 0;
        font-size: 20px;
        font-style: italic;

        color: rgb(78, 78, 77);
    }

    .discovery
    {
        margin-top: 50px;
    }

        .location
        {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
        
                .city
                {
                    color: rgb(81, 132, 199);
                }

                .gps
                {
                    color: rgb(105, 184, 142);
                }
        }

    img
    {
        width: 100%;
    }
}

/* ======================= SUPPLIERS PAGE ============================*/

#suppliers_title
{
    width: 100%;
    height: 800px;
    background-image: url("../images/suppliers.jpg");
    filter: opacity(85%);
    background-position: center center;
    background-size: cover;
    text-align: center;
    

        h1
        {
            padding-top: 30px;
            margin-right: 140px;
            font-size: 80px;
            color: rgb(255, 255, 255);
        }
}

#suppliers
{
    text-align: center;

    .sentence
    {
        font-size: 22px;
        font-style: italic;
        margin-top: 60px;
    }

    .treat
    {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .supplier
    {
        font-size: 20px;
        font-weight: bold;
        color: rgb(81, 132, 199);
    }

    .category, .city, .mail
    {
        font-size: 18px;
        color: rgb(105, 184, 142);
    }

    .phone, .cp
    {
        font-size: 18px;
        color: rgb(81, 132, 199);
    }
}

/* ===================+++==== CONTACT PAGE ============================*/

#form_contact
{
    text-align: center;

        h1
        {
            font-size: 60px;
            margin: 60px 0;
        }

        .sentence1
        {
            font-size: 20px;
        }

        .sentence2
        {
            font-size: 19px;
            font-style: italic;
            color: rgb(105, 184, 142);
            margin-bottom: 30px;
        }

        a
        {
            text-decoration: none;
        }

        label
        {
            margin: 20px 0;
            font-size: 18px;
            font-weight: bold;
            color: rgb(78, 78, 77);
        }
        
        input
        {
            width: 500px;
            text-align: center;
        }
        
        #cke_contact_message
        {
            margin-top: 15px;
        }

        .btn
        {
            margin-top: 60px;
        }
}

/* =========================== ADMIN PAGE =============================*/

#admin_page
{      
    width: 100%;
    height: 800px;
    margin-bottom: -150px;

        h1
        {
            margin: auto;
            padding-top: 250px;
            margin-bottom: -250px;
        }
}

/* ======================= ADMIN - USERS PAGE ============================*/

#users_admin
{
    h1
    {
       margin: 50px 0;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
}

/* ===================== ADMIN - SHOW USERS PAGE =======================*/

#show_users
{
    text-align: center;

        h1
        {
            margin: 80px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
        }

        .edit
        {
            margin-left: 70px;
            margin-right: 70px;
        }
}

/* ===================== ADMIN - EDIT USERS PAGE =======================*/

#edit_user
{
    h1
    {
        margin: 50px 0 30px 0;
    }

    .required
    {
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }

    #user_roles
    {
        input
        {
            margin-top: 15px;
        }
    }
    
    div
    {
        display: flex;
        flex-direction: column;
    }
    
    input
    {
        text-align: center;
        width: 600px;
        margin: auto;
    }
    .links
    {
        display: flex;
        justify-content: center;
        margin: 50px 0 80px 0;
    }
    .back
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* ======================= ROOMS ADMIN PAGE ============================*/

#rooms_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0 80px 0;
    }
}

/* ===================== ADMIN - SHOW ROOMS PAGE =======================*/

#show_rooms
{
    text-align: center;

        h1
        {
            margin: 50px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
        }

        .edit
        {
            margin-left: 70px;
            margin-right: 70px;
        }
}

/* ===================== ADMIN - EDIT ROOMS PAGE =======================*/

#edit_rooms
{
    h1
    {
        margin: 120px 0 50px 0;
    }

    .required
    {
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }
    
    div
    {
        display: flex;
        flex-direction: column;
    }
    
    input
    {
        text-align: center;
        width: 600px;
        margin: auto;
    }
    .links
    {
        display: flex;
        justify-content: center;
        margin: 80px 0 80px 0;
    }
    .back
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* ======================= ADMIN TYPE ROOM PAGE ============================*/

#type_room_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .td
        {
            vertical-align: middle;
        }

        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 47px 0;
    }
}

/* ===================== ADMIN - SHOW TYPE ROOMS PAGE =======================*/

#show_type_room
{
    text-align: center;

        h1
        {
            margin: 80px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 100px;
        }

        .edit
        {
            margin-left: 70px;
            margin-right: 70px;
        }
}

/* ===================== ADMIN - EDIT TYPE ROOM PAGE =======================*/

#edit_type_room
{
    h1
    {
        margin: 80px 0 50px 0;
    }
    
    div
    {
        display: flex;
        flex-direction: column;
    }
    
    label
    {
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }

    input
    {
        text-align: center;
        width: 600px;
        margin: auto;
    }

    #type_room_optionTypeRoom
    {
        display: flex;
        flex-direction: row;
        label
        {
            font-weight: normal;
        }

        input
        {
            margin-top: 30px;
        }
    }

    .links
    {
        display: flex;
        justify-content: center;
        margin: 70px 0;
    }
    .back
    {
        margin-left: 70px;
        margin-right: 70px;
    }
}

/* ================== OPTION TYPE ROOM ADMIN PAGE =======================*/

#option_type_room_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0 80px 0 ;
    }
}

/* ===================== ADMIN - SHOW OPTION TYPE ROOMS PAGE =======================*/

#show_option_type_room
{
    text-align: center;

        h1
        {
            margin: 100px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/* ===================== ADMIN - EDIT ROOMS PAGE =======================*/

#edit_option_type_room
{
    h1
    {
        margin: 150px 0 50px 0;
    }

    .required
    {
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }
    
    div
    {
        display: flex;
        flex-direction: column;
    }
    
    input
    {
        text-align: center;
        width: 600px;
        margin: auto;
    }
    .links
    {
        display: flex;
        justify-content: center;
        margin: 80px 0 80px 0;
    }
    .back
    {
        margin-left: 70px;
        margin-right: 70px;
    }
}

/* ================== ADMIN AMENITIES PAGE =======================*/

#amenities_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
}

/* ===================== ADMIN - SHOW AMENITIES PAGE =======================*/

#show_amenities
{
    text-align: center;

        h1
        {
            margin: 50px 0 30px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 100px;
        }

        .edit
        {
            margin-left: 70px;
            margin-right: 70px;
        }
}

/* ===================== ADMIN - EDIT AMENITIES PAGE =======================*/

#edit_amenities
{
    h1
    {
        margin: 80px 0 30px 0;
    }

    label
    {
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }
    
    div
    {
        display: flex;
        flex-direction: column;
    }
    
    input
    {
        text-align: center;
        width: 600px;
        margin: auto;
    }
    .links
    {
        display: flex;
        justify-content: center;
        margin: 50px 0 80px 0;
    }
    .back
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* ======================= RESTAURANT ADMIN PAGE ============================*/

#restaurant_admin
{
    h1
    {
       padding-top: 120px;
       margin-bottom: 50px;
    }
    
    table
    {
        td
        {
            vertical-align: middle;
        }

        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
}

/* ===================== ADMIN - SHOW AMENITIES PAGE =======================*/

#show_restaurant
{
    text-align: center;

        h1
        {
            margin: 80px 0 30px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 100px;
        }

        .edit
        {
            margin-left: 70px;
            margin-right: 70px;
        }
}

/* ===================== ADMIN - EDIT RESTAURANT PAGE =======================*/

#edit_restaurant
{
    h1
    {
        margin: 80px 0 30px 0;
    }

    label
    {
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }
    
    div
    {
        display: flex;
        flex-direction: column;
    }
    
    input
    {
        text-align: center;
        width: 600px;
        margin: auto;
    }
    .links
    {
        display: flex;
        justify-content: center;
        margin: 50px 0 80px 0;
    }
    .back
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* ======================= ADMIN DISHES PAGE ============================*/

#dishes_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
}

/* ===================== ADMIN - SHOW DISHES PAGE =======================*/

#show_dishes
{
    text-align: center;

        h1
        {
            margin: 50px 0 30px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/* ===================== ADMIN - EDIT DISHES PAGE =======================*/

#edit_dishes
{
    h1
    {
        margin: 50px 0 30px 0;
    }

    label
    {
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }
    
    div
    {
        display: flex;
        flex-direction: column;
    }
    
    input
    {
        text-align: center;
        width: 600px;
        margin: auto;
    }

    select
    {
        width: 600px;
        margin: auto;
        text-align: center;
    }
    .links
    {
        display: flex;
        justify-content: center;
        margin: 50px 0 80px 0;
    }
    .back
    {
        margin-left: 70px;
        margin-right: 70px;
    }
}

/* ======================= CATEGORY DISHES ADMIN PAGE ============================*/

#category_dishes_admin
{
    h1
    {
       padding-top: 120px;
       margin-bottom: 80px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 120px 0;
    }
}

/* ===================== ADMIN - SHOW CATEGORY DISHES PAGE =======================*/

#show_category_dishes
{
    text-align: center;

        h1
        {
            margin: 120px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 80px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/* ===================== ADMIN - EDIT CATEGORY DISHES PAGE =======================*/

#edit_category_dishes
{
    h1
    {
        margin: 120px 0 50px 0;
    }

    label
    {
        font-size: 18px;
        font-weight: bold;
        margin-top: 30px;
    }
    
    div
    {
        display: flex;
        flex-direction: column;
    }
    
    input
    {
        text-align: center;
        width: 600px;
        margin: auto;
    }

    .links
    {
        display: flex;
        justify-content: center;
        margin: 80px 0 80px 0;
    }
    .back
    {
        margin-left: 30px;
        margin-right: 30px;
    }
}

/* ======================= DRINKS ADMIN PAGE ============================*/

#drinks_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
}

/* ===================== ADMIN - SHOW DRINK PAGE =======================*/

#show_drink
{
    text-align: center;

        h1
        {
            margin: 50px 0 30px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/* ===================== ADMIN - EDIT DRINK PAGE =======================*/

#edit_drink
{
    h1
    {
        margin: 50px 0 20px 0;
    }

    label
    {
        font-size: 18px;
        font-weight: bold;
        margin-top: 30px;
    }
    
    div
    {
        display: flex;
        flex-direction: column;
    }
    
    input
    {
        text-align: center;
        width: 600px;
        margin: auto;
    }

    select
    {
        width: 600px;
        margin: auto;
        text-align: center;
    }    

    .links
    {
        display: flex;
        justify-content: center;
        margin: 80px 0 80px 0;
    }
    .back
    {
        margin-left: 30px;
        margin-right: 30px;
    }
}
/* ======================= CATEGORY DRINKS ADMIN PAGE ============================*/

#drinks_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
}

/* ===================== ADMIN - SHOW CATEGORY DRINK PAGE =======================*/

#show_category_drink
{
    text-align: center;

        h1
        {
            margin: 120px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }

        th
        {
            margin-top: 20px;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 80px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/* ===================== ADMIN - EDIT CATEGORY DRINK PAGE =======================*/

#edit_category_drink
{
    h1
    {
        margin: 180px 0 50px 0;
    }

    label
    {
        font-size: 18px;
        font-weight: bold;
        margin-top: 30px;
    }
    
    div
    {
        display: flex;
        flex-direction: column;
    }
    
    input
    {
        text-align: center;
        width: 600px;
        margin: auto;
    }

    .links
    {
        display: flex;
        justify-content: center;
        margin: 80px 0 80px 0;
    }
    .back
    {
        margin-left: 30px;
        margin-right: 30px;
    }
}
/* ======================= ADMIN SUPPLIERS PAGE ============================*/

#suppliers_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        td
        {
            vertical-align: middle;
        }

        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0px;
    }
}

/* ===================== ADMIN - SHOW SUPPLIERS PAGE =======================*/

#show_supplier
{
    text-align: center;

        h1
        {
            margin: 50px 0 30px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }

        th
        {
            margin-top: 20px;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/* ===================== ADMIN - EDIT SUPPLIERS PAGE =======================*/

#edit_supplier
{
    h1
    {
        margin: 50px 0 30px 0;
    }

    label
    {
        font-size: 18px;
        font-weight: bold;
        margin-top: 30px;
    }
    
    div
    {
        display: flex;
        flex-direction: column;
    }
    
    input
    {
        text-align: center;
        width: 600px;
        margin: auto;
    }

    select
    {
        width: 600px;
        margin: auto;
        text-align: center;
    }    

    .links
    {
        display: flex;
        justify-content: center;
        margin: 50px 0 80px 0;
    }
    .back
    {
        margin-left: 30px;
        margin-right: 30px;
    }
}

/* ======================= CATEGORY SUPPLIERS ADMIN PAGE ============================*/

#category_suppliers_admin
{
    h1
    {
       padding-top: 120px;
       margin-bottom: 80px;
    }
    
    table
    {

        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 100px 0px;
    }
}

/* ===================== ADMIN - SHOW CATEGORY SUPPLIERS PAGE =======================*/

#show_category_supplier
{
    text-align: center;

        h1
        {
            margin: 120px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }

        th
        {
            margin-top: 20px;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 70px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/* ===================== ADMIN - EDIT CATEGORY SUPPLIERS PAGE =======================*/

#edit_category_supplier
{
    h1
    {
        margin: 180px 0 50px 0;
    }

    label
    {
        font-size: 18px;
        font-weight: bold;
        margin-top: 30px;
    }
    
    div
    {
        display: flex;
        flex-direction: column;
    }
    
    input
    {
        text-align: center;
        width: 600px;
        margin: auto;
    }

    select
    {
        width: 600px;
        margin: auto;
        text-align: center;
    }    

    .links
    {
        display: flex;
        justify-content: center;
        margin: 80px 0 80px 0;
    }
    .back
    {
        margin-left: 30px;
        margin-right: 30px;
    }
}

/*xxxxxxxxxxxxxxxxxxxRESPONSIVExxxxxxxxxxxxxxxxxx*/

/*========RESPONSIVE HOME PAGE==============*/

@media screen and (max-width: 1500px)
{
    .welcome_txt
    {
        padding: 0 50px;
    
            p
            {
                font-size: 15px;
            }
    }
}

/*========RESPONSIVE RESTAURANT PAGE==============*/

@media screen and (max-width: 1300px)
{
    #restaurant_title
    {
        h1 span
        {
            color: rgb(255, 255, 255);
        }
    }
}