/*========================= GLOBAL ============================*/

*
{
    font-family: 'Roboto', sans-serif;
}
h1
{
    font-family: 'Parisienne', cursive;
}
h2
{
    font-family: 'Parisienne', cursive;
    font-size: 50px;
    color: rgb(81, 132, 199);
}

h3
{
    font-family: 'Parisienne', cursive;
    font-size: 35px;
    color: rgb(105, 184, 142);
}
h4
{
    font-style: italic;
}
p
{
    color: rgb(78, 78, 77);
}

.btn
{
    width: 120px;
    color: rgb(255, 255, 255);
    background-color: rgb(105, 184, 142);
}

.btn:hover
{
    color: rgb(60, 128, 218);
    border: solid 3px rgb(81, 132, 199);
}

.treat
{
    width: 300px;
    height: 2px;
    background-color: rgb(105, 184, 142);
    margin: 100px auto;
}

/* ===================  BASE.HTML.TWIG ==========================*/
/* ------------------------ HEADER ---------------------*/

header
{
    width: 100%;

        #banner
        {
            width: 100%;
            text-align: center;
            background-color: rgb(105, 184, 142);
            color: rgb(255, 255, 255);
            margin: auto;

                a
                {
                    text-decoration: none;
                    color: rgb(78, 78, 77);
                }
                i
                {
                    margin-right: 15px;
                }
        }

        #navbar
        {
            background-color: rgb(78, 78, 77);
            nav
            {
                img
                {
                    height: 50px;
                }
                a
                {
                    color: rgb(105, 184, 142) !important;
                    font-size: 20px;
                }
                a:hover
                {
                    color: rgb(81, 132, 199)!important;
                    transition: 0.8s;
                }              
            }
        }
}

/* ------------------------ FOOTER -------------------------*/

footer
{
    
    margin-top: 150px;
    width: 100%;
    height: 250px;
    background-color: rgb(117, 117, 112);
    
    img
    {
        height: 80px;
        display: block;
        margin: 20px auto 0 auto;
    }
    .footer_archors
    {
        display: flex;
        justify-content: center;
    }
    a
    {
        color: rgb(105, 184, 142);
        text-decoration: none;
        margin: 20px 10px 25px 10px;
    }
    p
    {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
}

/* =================== ADMIN BASE ==========================*/

#navbar_admin
{
    border-bottom: solid 2px rgb(81, 132, 199);
    nav
    {
        img
        {
            height: 50px;
        }
        a
        {
            color: rgb(105, 184, 142) !important;
            font-size: 18px;
        }
        a:hover
        {
            color: rgb(81, 132, 199)!important;
            transition: 0.8s;
        }              
    }
}

#side_bar
{
    margin-bottom: -150px;
    text-align: center;

        nav
        {
            border-right: solid 3px rgb(105, 184, 142);
            border-bottom: solid 3px rgb(81, 132, 199);
            border-left: solid 3px rgb(105, 184, 142);
                
                .navbar-brand
                {
                    height: 120px;
                    padding-top: 20px;
                    margin-left: 20px;
                    margin-bottom: 30px;
                    border-bottom: solid 1px rgb(78, 78, 77);
                }
                    a
                    {
                        font-size: 25px;
                        color: rgb(78, 78, 77);
                    }
                .nav-link
                {
                    font-size: 15px;
                    color: rgb(81, 132, 199);
                }
                .nav-link:hover
                {
                    color: rgb(105, 184, 142);
                }
        }
        .container
        {
            display: flex;
            flex-direction: column;
        }
        .navbar-nav
        {
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
        }
}

/*====================== FRONT - HOME PAGE ========================*/

/*---------------Section main_title----------*/

#main_title
        {
            width: 100%;
            height: 800px;
            background-image: url("../images/chateau.jpg");
            background-position: center center;
            background-size: cover;

                img
                {
                    display: block;
                    margin: auto;
                    padding-top: 20px;
                    max-width: 90%;
                }
                h1
                {
                    text-align: center;
                    padding-top: 40px;
                    color: rgb(49, 49, 48);
                    margin: 0 25px;
                    font-size: 35px;
                    font-style: italic;
                    font-family: 'Roboto, cursive';
                }
        }

/*---------------Section banner_reservation----------*/

#banner_reservation
{
    height: 120px;
    background-color: rgb(105, 184, 142);
    margin-top: -60px;
    color: rgb(81, 132, 199);
    text-align: center;

        h2
        {
            padding-top: 35px;
        }
        a
        {
            font-size: 35px;
            font-style: italic;
            text-align: center;
            color: rgb(255, 255, 255);
            text-decoration: none;
            margin-top: 25px;
        }
        a:hover
        {
            color: rgb(81, 132, 199)!important;
            border-bottom: solid 4px rgb(81, 132, 199);
            transition: 0.5s;
        }
}

/*---------------Section welcome----------*/

#welcome
{
    margin: 100px 0 80px 0;
        
        img
        {
            width: 100%;
        }
        
        .welcome_txt
        {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;        
        
            span
            {
                color: rgb(105, 184, 142);
                font-size: 23px;
                font-weight: bold;
            }

            p
            {
                font-size: 16px;
            }
        }
}

/*----------section amenities_banner------*/

#amenities_banner
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(105, 184, 142);

        .amenities_banner_element
        {
            text-align: center;
            margin: 20px 0 20px 0;

                i
                {
                    color: rgb(81, 132, 199);
                }
            
                .fa-wifi, .fa-key
                {
                    font-size: 33px;
                }

                .fa-parking
                {
                    font-size: 42px;
                }
                h3
                {
                    margin: 20px 0;
                    color: rgb(228, 228, 228);
                    font-weight: normal;
                }
                p
                {
                    width: 300px;
                    color: rgb(78, 78, 77);
                    font-style: italic;
                    margin: auto;
                }
        }
}

/*----------section rooms_home_page------*/

#rooms_home_page
{
    margin-top: 80px;
       
        .suite_home_page
        {
            margin-top: 60px;
            
            img
            {
                max-width: 100%;
            }

            .suite_home_page_txt
            {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                margin-top: -15px;
            
                    h4
                    {
                        margin: -15px 0 22px 0; 
                        color: rgb(105, 184, 142);
                        font-size: 20px;
                    }
                    
                    i
                    {
                        font-size: 20px;
                        color: rgb(105, 184, 142);
                    }

                    .man
                    {
                        margin-right: 17px;
                    }
                    
                    .fa-square, .fa-bath
                    {
                        margin: 0 22px 0 8px;
                    }

                    .fa-eye
                    {
                        margin: 0 19px 0 7px;
                    }
            }
        }

        .rooms_kind_home_page
        { 
                margin-top: 80px;

                img
                {
                    max-width: 100%;
                }
                
                .rooms_home_page_txt
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                }
        }
}

/*-----section restaurant_home_page-----*/

#restaurant_home_page
{

        .restaurant_home_page_txt
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        img
        {
            max-width: 100%;
        }

        .btn
        {
            margin: auto;
        }
}

/*----------section location_home_page--------*/

#location_home_page
{
    margin-top: 80px;

        h2
        {
            margin-bottom: 50px;
        }
        
        .location_infos
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        a
        {
            margin: 20px 0 20px 80px;
            font-size: 18px;
            text-decoration: none;
            color: rgb(78, 78, 77);
        }

        i
        {
            margin-right: 20px;
            color: rgb(105, 184, 142);
        }
}

/* ===================== FRONT - PAGE RESERVATION ======================*/

#reservation
{
    text-align: center;
    background-color: rgb(105, 184, 142);
    width: 500px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: -70px;
    border-radius: 15px;

        h1
        {
            font-size: 50px;
            font-weight: bold;
            padding-top: 50px;
        }

        label
        {
            font-size: 18px;
            font-weight: bold;
            margin-top: 25px;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        input, select
        {
            border-radius: 5px;
        }

        .name,.firstname, .mail, .type_room, .transport
        {
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        .name,.firstname, .mail
        {
            width: 200px;
        }
        
        .btn
        {
            margin-top: 50px;
            margin-bottom: 50px;
            background-color: rgb(81, 132, 199);
        }
}

/* =================== FRONT - TYPE ROOM PAGE ======================*/

#type_rooms_title
{
    width: 100%;
    height: 600px;
    background-image: url("../images/main_type_room.jpg");
    background-position: center center;
    background-size: cover;
    text-align: center;

        h1
        {
            font-size: 80px;
            padding-top: 50px;
            color: rgb(81, 132, 199);            
        }
}

#type_rooms
    {   
        img
        {
            width: 100%;
        }
        
        .sentence
        {
            margin-top: 80px;
            font-size: 25px;
            font-style: italic;
            text-align: center;
            color: rgb(78, 78, 77);
        }
        
        .type_room
        {
            margin-top: 50px;
        }
            .name_price
            {
                display: flex;
                justify-content: space-between;

                    h3
                    {
                        font-family: 'Roboto', cursive;
                        font-size: 30px;
                    }
            }
            
            p
            {
               margin-bottom: 40px;
               font-size: 17px;
            }
            
            .col_opt
            {
                display: flex;
            }
                
                span
                {
                    margin-bottom: 30px;
                }
                
                .logo
                {
                    color: rgb(81, 132, 199)
                }
                
                .option
                {
                    margin-left: 15px;
                    color: rgb(78, 78, 77)
                }
            
            .reservation
            {
                text-align: center;
                margin-top: 30px;
            }
    }

/* =================== FRONT - PAGE RESTAURANT ======================*/

#restaurant_title
{
    width: 100%;
    height: 800px;
    background-image: url("../images/restaurant.jpg");
    background-position: center center;
    background-size: cover;
    text-align: center;
    

        h1
        {
            padding-top: 60px;
            font-size: 80px;
            color: rgb(105, 184, 142);
        
                span
                {
                    color: rgb(105, 184, 142);
                    font-family: 'Parisienne', cursive;
                }
        }
}

#restaurant_menu
{
    
    .sentence
    {
        margin-top: 80px;
        font-size: 18px;
    }

    h2
    {
        font-size: 80px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 80px;
    }

    img
    {
        width: 100%;
    }

    h3
    {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 25px;
    }

    .dishes
    {
        display: flex;
        justify-content: space-between;
        border-bottom: dotted 1px rgb(117, 117, 112);
        
            .description
            {
                margin-top: 13px;
                font-style: italic;
                font-size: 17px;
            }
            .price
            {
                margin-top: 13px;
                color: rgb(81, 132, 199);
                font-size: 17px;
            }
    }

    .menus
    {
        text-align: center;

        h2
        {
            font-weight: normal;
            margin-bottom: 30px;
        }  
        
        .card
        {
            margin-top: 50px;
            background-color: rgb(229, 231, 204);
            border-radius: 15px;

                h3
                {
                    padding-top: 50px;
                    margin-bottom: 10px;
                }

                .price
                {
                    padding-bottom: 50px;
                }
        }

        .description
        {
            font-size: 18px;
            font-style: italic;
            font-weight: bold;
            margin-bottom: 35px;
        }

            h4
            {
                color: rgb(81, 132, 199);
                margin-bottom: 25px;
            }    

            .line
            {
                width: 100px;
                height: 2px;
                background-color: rgb(105, 184, 142);
                margin: auto;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .price
            {
                color: rgb(105, 184, 142);
                font-size: 20px;
                font-weight: bold;
            }
    }

    .drinks
    {
        h3
        {
            margin-bottom: 80px;
        }
        
        .info
        {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            border-bottom: dotted 1px rgb(117, 117, 112);
            
                .name_drink
                {
                    font-size: 18px;
                    font-weight: bold;
                }

                .price_drink
                {
                    font-size: 18px;
                }
        }
    }
    
}

#suppliers_link
{
    .sentence_link
    {
        font-size: 19px;

            a
            {
                text-decoration: none;
            }
    }
}

/* =================== FRONT - AMENITIES PAGE ======================*/

#amenities_title
{
    width: 100%;
    height: 800px;
    background-image: url("../images/amenities.jpg");
    filter: opacity(85%);
    background-position: center center;
    background-size: cover;
    text-align: center;

        h1
        {
            font-size: 80px;
            font-weight: bold;
            padding-top: 35px;
        }
}

#amenities
{
    margin-bottom: -120px;

    .sentence
    {
        text-align: center;
        margin: 80px 0 -20px 0;
        font-size: 20px;
        font-style: italic;
    }

    img
    {
        width: 100%;
    }

    .price
    {
        color: rgb(105, 184, 142);
    }
}

/* =================== FRONT - DISCOVERY PAGE ======================*/

#discoveries_title
{
    width: 100%;
    height: 600px;
    background-image: url("../images/discovery.jpg");
    filter: opacity(85%);
    background-position: center center;
    background-size: cover;
    text-align: center;
    

        h1
        {
            padding-top: 170px;
            font-size: 80px;
            color: rgb(255, 255, 255);
        }
}

#discoveries
{
    .sentence
    {
        margin: 70px 0 -20px 0;
        font-size: 20px;
        font-style: italic;

        color: rgb(78, 78, 77);
    }

    .discovery
    {
        margin-top: 50px;
    }

        .location
        {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
        
                .city
                {
                    color: rgb(81, 132, 199);
                }

                .gps
                {
                    color: rgb(105, 184, 142);
                }
        }

    img
    {
        width: 100%;
    }
}

/* ======================= FRONT - SUPPLIERS PAGE ============================*/

#suppliers_title
{
    width: 100%;
    height: 800px;
    background-image: url("../images/suppliers.jpg");
    filter: opacity(85%);
    background-position: center center;
    background-size: cover;
    text-align: center;
    

        h1
        {
            padding-top: 30px;
            margin-right: 140px;
            font-size: 80px;
            color: rgb(255, 255, 255);
        }
}

#suppliers
{
    text-align: center;

    .sentence
    {
        font-size: 22px;
        font-style: italic;
        margin-top: 60px;
    }

    .treat
    {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .supplier
    {
        font-size: 20px;
        font-weight: bold;
        color: rgb(81, 132, 199);
    }

    .category, .city, .mail
    {
        font-size: 18px;
        color: rgb(105, 184, 142);
    }

    .phone, .cp
    {
        font-size: 18px;
        color: rgb(81, 132, 199);
    }
}

/* ===================+++==== FRONT - CONTACT PAGE ============================*/

#form_contact
{
    text-align: center;
    margin-top: 80px;
    padding-top: 20px;
    background-color: rgb(105, 184, 142);
    border-radius: 15px;

        h1
        {
            font-size: 60px;
            font-weight: bold;
            margin: 60px 0;
        }

        .sentence1
        {
            font-size: 20px;
        }

        .sentence2
        {
            font-size: 19px;
            font-style: italic;
            margin-bottom: 30px;
        }

        div
        {
            display: flex;
            flex-direction: column;
        }

        a
        {
            text-decoration: none;
        }

        label
        {
            margin: 20px 0;
            font-size: 18px;
            font-weight: bold;
            color: rgb(78, 78, 77);
        }
        
        input
        {
            width: 300px;
            margin: auto;
            text-align: center;
            border-radius: 7px;
        }
        
        .message
        {
            margin-top: 15px;
        }

        .btn
        {
            margin: 80px auto;
            background-color: rgb(81, 132, 199);
        }
        .btn:hover
        {
            transition: 0.8s;
            color: rgb(81, 132, 199);
            background-color: rgb(105, 184, 142);
            border: solid 3px rgb(81, 132, 199);
        }
}

/* ===================+++==== FRONT - LOGIN PAGE ============================*/

#login
{
    text-align: center;
    width: 500px;
    margin: auto;
    margin-bottom: -70px;
    background-color: rgb(105, 184, 142);
    border-radius: 15px;
        
        h1
        {
            font-size: 50px;
            font-weight: bold;
            margin-top: 70px;
            padding-top: 30px;
        }

        label
        {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
        }
        input
        {
            width: 200px;
            margin: auto;
        }
        
        .btn
        {
            margin-top: 40px;
            margin-bottom: 30px;
            border: none;
            background-color: rgb(81, 132, 199);
        }
        .btn:hover
        {
            color: rgb(81, 132, 199);
            background-color: rgb(105, 184, 142);
            transition: 0.8s;
        }
}

/*====================== FRONT - PAGE REGISTER ==========================*/

#inscription
{
    text-align: center;
    width: 600px;
    margin: auto;
    margin-bottom: -70px;
    background-color: rgb(105, 184, 142);
    border-radius: 15px;

        h1
        {
            font-size: 50px;
            font-weight: bold;
            margin-top: 80px;
            padding-top: 50px;
            padding-bottom: 10px;
        }    

        div
        {
            display: flex;
            flex-direction: column;
        }

        label
        {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
        }

        input
        {
            width: 200px;
            margin: auto;
            text-align: center;
            border-radius: 5px;
        }

        .sentence
        {
            margin-top: 40px;
            margin-bottom: -10px;
        }

        .agree
        {
            margin-top: 10px;
            margin-bottom: 20px;
            display: flex;
        }
        .btn
        {
            background-color: rgb(81, 132, 199);
            margin-top: 10px;
            margin-bottom: 50px;
        }
        .btn:hover
        {
            color: rgb(105, 184, 142);
        }
}

/* ==================== FRONT - PAGE PRIVATE POLICY ===================*/

#private_policy
{
    .logo
    {
        text-align: center;
        margin-top: 100px;
    }

    h1, h2, h3
    {
        font-family: 'roboto', sans-serif;
    }
    h1,h2
    {
        text-align: center;
    }
    h1
    {
        margin-top: 150px;
    }
    .treat
    {
        width: 100%;
        margin-top: 40px;
    }
    h2
    {
        margin: 70px 0 50px 0;
        font-size: 25px;
    }
    h3
    {
        font-size: 20px;
        margin: 15px 0 20px 0;
    }
}


/* =========================== ADMIN PAGE =============================*/

#admin_page
{      
    width: 100%;
    height: 800px;
    margin-bottom: -150px;

        h1
        {
            margin: auto;
            padding-top: 250px;
            margin-bottom: -250px;
        }
}

/* ===================== ADMIN - EDIT PAGES & NEW PAGES================*/

#edit, #new
{
    width: 800px;
    padding: 30px 0 60px 0;
    margin: 80px auto;
    background-color: rgb(105, 184, 142);
    border: solid 10px rgb(105, 184, 142);
    border-radius: 15px;
        
        h1
        {
            margin: 50px 0 30px 0;
        }

        .required
        {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
        }

        div
        {
            display: flex;
            flex-direction: column;
        }
        
        input
        {
            text-align: center;
            width: 300px;
            margin: auto;
            border-radius: 7px;
        }

        select
        {
            width: 300px;
            margin: auto;
            border-radius: 7px;
        }

        label
        {
            margin: 15px 0 30px 0;
            font-weight: bold;
        }

        .btn
        {
            background-color: rgb(81, 132, 199);
            width: 200px;
            margin: 25px auto 0 auto;
        }
        .btn:hover
        {
            transition: 0.8s;
            border: solid 4px rgb(81, 132, 199);
            background-color: rgb(105, 184, 142)
        }
}

/* ======================= ADMIN - USERS PAGE ============================*/

#users_admin
{
    h1
    {
       margin: 100px 0;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
    .btn:hover
    {
        transition: 0.8s;
        border: solid 4px rgb(81, 132, 199);
        background-color: rgb(105, 184, 142)
    }
}

/* ===================== ADMIN - SHOW USERS PAGE =======================*/

#show_users
{
    text-align: center;

        h1
        {
            margin: 80px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
        }
        .btn:hover
        {
            transition: 0.8s;
            border: solid 4px rgb(81, 132, 199);
            background-color: rgb(105, 184, 142)
        }

        .edit
        {
            margin-left: 70px;
            margin-right: 70px;
        }
}

/* ======================= ADMIN - ROOMS PAGE ============================*/

#rooms_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0 80px 0;
    }
    .btn:hover
    {
        transition: 0.8s;
        border: solid 2px rgb(81, 132, 199);
        background-color: rgb(105, 184, 142)
    }
}

/* ===================== ADMIN - SHOW ROOMS PAGE =======================*/

#show_rooms
{
    text-align: center;

        h1
        {
            margin: 50px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
        }

        .btn:hover
    {
        transition: 0.8s;
        border: solid 2px rgb(81, 132, 199);
        background-color: rgb(105, 184, 142)
    }

        .edit
        {
            margin-left: 70px;
            margin-right: 70px;
        }
}

/* ======================= ADMIN TYPE ROOM PAGE ============================*/

#type_room_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .td
        {
            vertical-align: middle;
        }

        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 47px 0;
    }
}

/* ===================== ADMIN - SHOW TYPE ROOMS PAGE =======================*/

#show_type_room
{
    text-align: center;

        h1
        {
            margin: 80px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 100px;
        }

        .edit
        {
            margin-left: 70px;
            margin-right: 70px;
        }
}

/* ================== OPTION TYPE ROOM ADMIN PAGE =======================*/

#option_type_room_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0 80px 0 ;
    }
}

/* ===================== ADMIN - SHOW OPTION TYPE ROOMS PAGE =======================*/

#show_option_type_room
{
    text-align: center;

        h1
        {
            margin: 100px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/* ================== ADMIN AMENITIES PAGE =======================*/

#amenities_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
}

/* ===================== ADMIN - SHOW AMENITIES PAGE =======================*/

#show_amenities
{
    text-align: center;

        h1
        {
            margin: 50px 0 30px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 100px;
        }

        .edit
        {
            margin-left: 70px;
            margin-right: 70px;
        }
}

/* ================== ADMIN DICOVERIES PAGE =======================*/

#discoveries_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        vertical-align: middle;
            .show, .edit
            {
                text-decoration: none;
                color: rgb(81, 132, 199);
                font-size: 18px;
            }

            .show
            {
                margin-right: 15px;
                color: rgb(105, 184, 142);
            }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
}

/* ===================== ADMIN - SHOW AMENITIES PAGE =======================*/

#show_discoveries
{
    text-align: center;

        h1
        {
            margin: 50px 0 30px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 100px;
        }

        .edit
        {
            margin-left: 70px;
            margin-right: 70px;
        }
}

/* ======================= ADMIN - RESTAURANT PAGE ============================*/

#restaurant_admin
{
    h1
    {
       padding-top: 120px;
       margin-bottom: 50px;
    }
    
    table
    {
        td
        {
            vertical-align: middle;
        }

        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
}

/* ===================== ADMIN - SHOW RESTAURANT PAGE =======================*/

#show_restaurant
{
    text-align: center;

        h1
        {
            margin: 80px 0 30px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 100px;
        }

        .edit
        {
            margin-left: 70px;
            margin-right: 70px;
        }
}

/* ======================= ADMIN - MENUS PAGE ============================*/

#menu_admin
{
    h1
    {
       padding-top: 80px;
       margin-bottom: 30px;
    }
    
    table
    {
        td
        {
            vertical-align: middle;
        }

        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
}

/* ===================== ADMIN - SHOW MENUS PAGE =======================*/

#show_menu
{
    text-align: center;

        h1
        {
            margin: 80px 0 30px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 100px;
        }

        .edit
        {
            margin-left: 30px;
            margin-right: 30px;
        }
}

/* ======================= ADMIN DISHES PAGE ============================*/

#dishes_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
}

/* ===================== ADMIN - SHOW DISHES PAGE =======================*/

#show_dishes
{
    text-align: center;

        h1
        {
            margin: 50px 0 30px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/* ======================= CATEGORY DISHES ADMIN PAGE ============================*/

#category_dishes_admin
{
    h1
    {
       padding-top: 120px;
       margin-bottom: 80px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 120px 0;
    }
}

/* ===================== ADMIN - SHOW CATEGORY DISHES PAGE =======================*/

#show_category_dishes
{
    text-align: center;

        h1
        {
            margin: 120px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 80px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/* ======================= DRINKS ADMIN PAGE ============================*/

#drinks_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
}

/* ===================== ADMIN - SHOW DRINK PAGE =======================*/

#show_drink
{
    text-align: center;

        h1
        {
            margin: 50px 0 30px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/* ======================= CATEGORY DRINKS ADMIN PAGE ============================*/

#drinks_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0;
    }
}

/* ===================== ADMIN - SHOW CATEGORY DRINK PAGE =======================*/

#show_category_drink
{
    text-align: center;

        h1
        {
            margin: 120px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }

        th
        {
            margin-top: 20px;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 80px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/* ======================= ADMIN SUPPLIERS PAGE ===========================*/

#suppliers_admin
{
    h1
    {
       padding-top: 50px;
       margin-bottom: 50px;
    }
    
    table
    {
        td
        {
            vertical-align: middle;
        }

        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 50px 0px;
    }
}

/* ===================== ADMIN - SHOW SUPPLIERS PAGE =======================*/

#show_supplier
{
    text-align: center;

        h1
        {
            margin: 50px 0 30px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }

        th
        {
            margin-top: 20px;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/* ======================= CATEGORY SUPPLIERS ADMIN PAGE ============================*/

#category_suppliers_admin
{
    h1
    {
       padding-top: 120px;
       margin-bottom: 80px;
    }
    
    table
    {

        .show, .edit
        {
            text-decoration: none;
            color: rgb(81, 132, 199);
            font-size: 18px;
        }

        .show
        {
            margin-right: 15px;
            color: rgb(105, 184, 142);
        }
    }
    .btn
    {
        width: 250px;
        margin: 100px 0px;
    }
}

/* ===================== ADMIN - SHOW CATEGORY SUPPLIERS PAGE =======================*/

#show_category_supplier
{
    text-align: center;

        h1
        {
            margin: 120px 0 50px 0;
        }
    
        tr
        {
            display: flex;
            flex-direction: column;
        }

        th
        {
            margin-top: 20px;
        }
        
        .links
        {
            display: flex;
            justify-content: center;
        }

        .btn
        {
            margin-top: 70px;
            margin-bottom: 50px;
        }

        .edit
        {
            margin-left: 20px;
            margin-right: 20px;
        }
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx RESPONSIVE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*========== RESPONSIVE ALL PAGEs ===============*/

@media screen and (max-width: 991px)
{
    *
    {
        text-align: center;
        
            .btn
            {
                margin: auto;
            }
    } 
}

@media screen and (max-width: 451px)
{
    *
    {
        
            h2
            {
                font-size: 35px;
            }

            h3
            {
                font-size: 32px;
            }

            p
            {
                font-size: 15px;
            }
    } 
}

@media screen and (max-width: 349px)
{
    *
    {   
        h2
        {
            font-size: 28px;
        }

        h3
        {
            font-size: 25px;
        }

        .treat
        {
            width: 150px;
        }
    } 
}

/*========== RESPONSIVE  BASE PAGE ==============*/

@media screen and (max-width: 429px)
{
    footer
    {   
        .footer_archors
        {
            font-size: 11px;
        }

            a
            {
                margin-left: 5px;
                margin-right: 5px;
            }

            p
            {
                font-size: 10px;
            }
    } 
}

@media screen and (max-width: 299px)
{
    footer
    {   
        .footer_archors
        {
            font-size: 8px;
        }

            a
            {
                margin-left: 5px;
                margin-right: 5px;
            }

            p
            {
                font-size: 7px;
            }
    } 
}

/*========== RESPONSIVE  HOME PAGE ==============*/


/*------ Responsive : section main_title -----*/

@media screen and (max-width: 1000px)
{
    #main_title
    {   
        height: 700px;
            
            h1
            {
                font-size: 33px;
            }
    } 
}

@media screen and (max-width: 850px)
{
    #main_title
    {
        height: 500px;   
            
            h1
            {
                font-size: 25px;
                padding-top: 0;
            }
    } 
}

@media screen and (max-width: 760px)
{
    #main_title
    {   
        height: 600px;
    } 
}

@media screen and (max-width: 530px)
{
    #main_title
    {
        height: 400px;   
            
            h1
            {
                font-size: 22px;
                padding-top: 0;
            }
    } 
}

@media screen and (max-width: 410px)
{
    #main_title
    {
        height: 350px;   
            
            h1
            {
                font-size: 20px;
                padding-top: 0;
            }
    } 
}

@media screen and (max-width: 361px)
{
    #main_title
    {
        height: 300px;   
            
            h1
            {
                font-size: 18px;
                padding-top: 0;
            }
    } 
}

@media screen and (max-width: 307px)
{
    #main_title
    {
        height: 280px;   
            
            h1
            {
                font-size: 14px;
                padding-top: 0;
            }
    } 
}

/*------ Responsive : section banner_reservation -----*/

@media screen and (max-width: 767px)
{
    #banner_reservation
    {
        height: 80px;
            
            h2
            {
                padding-top: 0;
                vertical-align: middle;
            }
            
            a
            {
                font-size: 25px;
            } 
    } 
}

@media screen and (max-width: 471px)
{
    #banner_reservation
    {
        a
        {
            font-size: 20px;
        } 
    } 
}

@media screen and (max-width: 395px)
{
    #banner_reservation
    {
        height: 60px;
            
            a
            {
                font-size: 15px;
            } 
    } 
}

@media screen and (max-width: 301px)
{
    #banner_reservation
    {
        height: 60px;
            
            a
            {
                font-size: 10px;
            } 
    } 
}

/*------ Responsive : section welcome -----*/

@media screen and (max-width: 1500px)
{
    #welcome
    {
        .welcome_txt
        {
            padding: 0 50px;
        }
    }
}

@media screen and (max-width: 991px)
{
    #welcome
    {
        margin: 50px 0;
    }
}

@media screen and (max-width: 451px)
{
    #welcome
    {
        .welcome_txt
        {
            span
            {
                font-size: 15px;
            }
        }
    }
}

/*------ Responsive : section amenities_banner -----*/

@media screen and (max-width: 331px)
{
    #amenities_banner
    {
        p
        {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

/*------ Responsive : section rooms_home_page -----*/

@media screen and (max-width: 991px)
{
    #rooms_home_page
    {
        margin-top: 50px;
        margin-bottom: -80px;

            h2
            {
                margin-bottom: 20px;
            }

            h3
            {
                margin: auto;
                margin-top: 20px;
                margin-bottom: 15px;
            }

            p
            {
                padding-bottom: 15px;
            }

            .man
            {
                margin-right: 17px;
            }

            .people
            {
                padding-right: 100px;
            }

            .area
            {
                padding-right: 70px;
            }

            .fa-bath
            {
                margin: 0 22px 0 18px;
            }

            .fa-eye
            {
                margin: 0 19px 0 7px;
            }

            .btn
            {
                margin-bottom: 50px;
            }
    }
}

@media screen and (max-width: 261px)
{
    #rooms_home_page
    {          
        p
        {
            text-align: left;
        }
    }
}

/*------ Responsive : section restaurant_home_page -----*/

@media screen and (max-width: 991px)
{
    #restaurant_home_page
    {
        margin-top: -50px;
            
            h2
            {
                margin-bottom: 30px;
            }
            
            .btn
            {
                margin-top: 20px;
                margin-bottom: 30px;
            }
    }
}

/*------ Responsive : section location -----*/

@media screen and (max-width: 991px)
{
    #location_home_page
    {
        margin-top: -50px;
        margin-bottom: -80px;
            
            .col-lg-5
            {
                margin-bottom: 50px;
                    
                    a
                    {
                        text-align: left;
                        height: 27px;
                    }
            }
    }
}

@media screen and (max-width: 455px)
{
    #location_home_page
    {       
        a
        {
            font-size: 13px;
        }
    }
}

/*========RESPONSIVE TYPE ROOM PAGE==============*/

@media screen and (max-width: 991px)
{
    #type_rooms
    {
        .btn_odd
        {
            margin-bottom: 50px;
        }

        .treat
        {
            margin-top: 50px;
            margin-bottom: 30px;
        }

        h2
        {
            margin-top: 15px;
        }

        h3
        {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 515px)
{
    #type_rooms_title
    {
        height: 400px;

            h1
            {
                font-size: 50px;
            }
    }
    
    #type_rooms
    {
        .sentence
        {
            font-size: 20px;
        }
        
        .name_price
        {
            flex-direction: column;
        }
    }
}

/*========RESPONSIVE RESTAURANT PAGE==============*/

@media screen and (max-width: 1300px)
{
    #restaurant_title
    {
        height: 500px;
        h1
        {
            color: rgb(255, 255, 255);
        }
    }
}

@media screen and (max-width: 991px)
{
    #restaurant_menu
    {
        .name_category
        {
            margin-top: 40px;
        }        
    }
}

@media screen and (max-width: 591px)
{
    #restaurant_title
    {
        height: 400px;

            h1
            {
                padding-top: 20px;
                font-size: 60px;
            }
    }

    #restaurant_menu
    {
        margin-top: -40px;
            
            .treat
            {
                margin-top: 30px;
                margin-bottom: 30px;
            }    

            h2
            {
                font-size: 60px;
                margin-bottom: 20px;
            }
    }
}

@media screen and (max-width: 325px)
{
    #restaurant_title
    {
        height: 300px;
        h1
        {
            padding-top: 15px;
            font-size: 40px;
        }
    }
}
/*========RESPONSIVE AMENITIES PAGE==============*/

@media screen and (max-width: 991px)
{   
    #amenities
    {
        margin-top: -40px;
        .price
        {
            margin-bottom: 80px;
        }        
    
        .sentence
        {
            padding-top: -15px;
        }

        .treat
        {
            margin-top: 60px;
        }

        h2
        {
            margin-top: -40px;
        }
    }
}

@media screen and (max-width: 600px)
{
    #amenities_title
    {
        height: 400px;
    
            h1
            {
                font-size: 60px;
            }
    }
}

@media screen and (max-width: 307px)
{
    #amenities_title
    {
        height: 250px;
    
            h1
            {
                padding-top: 15px;
                font-size: 40px;
            }
    }
}

/*========RESPONSIVE DISCOVERIES PAGE==============*/

@media screen and (max-width: 991px)
{
    #discoveries
    {
        .discovery_even
        {
            margin-top: 40px;
        }        
    }
}

@media screen and (max-width: 467px)
{
    #discoveries_title
    {
        height: 400px;

            h1
            {
                font-size: 50px;
                padding-top: 70px;
            }
    }
    #discoveries
    {
        .sentence
        {
            font-size: 17px;
        }
    }
}

/*========RESPONSIVE SUPPLIERSS PAGE==============*/

@media screen and (max-width: 1300px)
{
    #suppliers_title
    {
        height: 600px;
        
            h1
            {
                padding-top: 10px;
            }
    }
}

@media screen and (max-width: 975px)
{
    #suppliers_title
    {
        height: 500px;
    }
}

@media screen and (max-width: 820pxpx)
{
    #suppliers_title
    {
        height: 400px;
    }
}

@media screen and (max-width: 500px)
{
    #suppliers_title
    {
        height: 300px;
        
            h1
            {
                font-size: 50px;
            }
    }

    #suppliers
    {
        .sentence
        {
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: -30px;
        }

        p
        {
            margin: 0 30px 20px 30px
        }
    }
}