/*========================= GLOBAL ============================*/
* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Parisienne', cursive;
}

h2 {
  font-family: 'Parisienne', cursive;
  font-size: 50px;
  color: #5184c7;
}

h3 {
  font-family: 'Parisienne', cursive;
  font-size: 35px;
  color: #69b88e;
}

h4 {
  font-style: italic;
}

p {
  color: #4e4e4d;
}

.btn {
  width: 120px;
  color: white;
  background-color: #69b88e;
}

.btn:hover {
  color: #3c80da;
}

.treat {
  width: 300px;
  height: 2px;
  background-color: #69b88e;
  margin: 100px auto;
}

/* ===================  BASE.HTML.TWIG ==========================*/
/* ------------------------ HEADER ---------------------*/
header {
  width: 100%;
}

header #banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #69b88e;
  color: white;
  margin: auto;
}

header #banner p {
  margin-top: 10px;
}

header #banner i {
  margin-right: 15px;
}

header #navbar {
  background-color: #4e4e4d;
}

header #navbar nav img {
  height: 50px;
}

header #navbar nav a {
  color: #69b88e !important;
  font-size: 20px;
}

header #navbar nav a:hover {
  color: #5184c7 !important;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

/* ====================== FOOTER ==========================*/
footer {
  margin-top: 150px;
  width: 100%;
  height: 250px;
  background-color: #757570;
}

footer img {
  height: 80px;
  display: block;
  margin: 20px auto 0 auto;
}

footer .footer_archors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  color: #69b88e;
  text-decoration: none;
  margin: 20px 10px 25px 10px;
}

footer p {
  text-align: center;
  color: white;
  font-size: 12px;
}

/* =================== ADMIN.HTML.TWIG ==========================*/
#navbar_admin {
  border-bottom: solid 3px #5184c7;
}

#navbar_admin nav img {
  height: 50px;
}

#navbar_admin nav a {
  color: #69b88e !important;
  font-size: 17px;
}

#navbar_admin nav a:hover {
  color: #5184c7 !important;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#side_bar {
  margin-bottom: -130px;
  text-align: center;
}

#side_bar .aside {
  background-color: white;
  border-right: solid 3px #69b88e;
}

#side_bar nav .navbar-brand {
  height: 120px;
  padding-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  border-bottom: solid 1px #4e4e4d;
}

#side_bar nav a {
  font-size: 25px;
  color: #4e4e4d;
}

#side_bar nav .nav-link {
  font-size: 15px;
  color: #5184c7;
}

#side_bar nav .nav-link:hover {
  color: #69b88e;
}

#side_bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#side_bar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*====================== HOME PAGE ========================*/
#main_title {
  width: 100%;
  height: 800px;
  background-image: url("../images/chateau.jpg");
  background-position: center center;
  background-size: cover;
}

#main_title img {
  height: 150px;
  display: block;
  margin: auto;
  padding-top: 20px;
}

#main_title h1 {
  text-align: center;
  padding-top: 20px;
  color: #313130;
  font-size: 35px;
  font-style: italic;
  margin: 0 300px 0 300px;
  font-family: 'Roboto, cursive';
}

#banner_reservation {
  height: 120px;
  background-color: #69b88e;
  margin-top: -60px;
  color: #5184c7;
  text-align: center;
}

#banner_reservation h2 {
  padding-top: 35px;
}

#banner_reservation a {
  font-size: 35px;
  font-style: italic;
  text-align: center;
  color: white;
  text-decoration: none;
  margin-top: 25px;
}

#banner_reservation a:hover {
  color: #5184c7 !important;
  border-bottom: solid 4px #5184c7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#welcome {
  margin: 100px 0 80px 0;
}

#welcome img {
  width: 100%;
}

#welcome .welcome_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#welcome .welcome_txt span {
  color: #69b88e;
  font-size: 23px;
  font-weight: bold;
}

#welcome .welcome_txt p {
  font-size: 16px;
}

/*----------section amenities_banner------*/
#amenities_banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #69b88e;
}

#amenities_banner .amenities_banner_element {
  text-align: center;
  margin: 20px 0 20px 0;
}

#amenities_banner .amenities_banner_element i {
  color: #5184c7;
}

#amenities_banner .amenities_banner_element .fa-wifi, #amenities_banner .amenities_banner_element .fa-key {
  font-size: 33px;
}

#amenities_banner .amenities_banner_element .fa-parking {
  font-size: 42px;
}

#amenities_banner .amenities_banner_element h3 {
  margin: 20px 0;
  color: #e4e4e4;
  font-weight: normal;
}

#amenities_banner .amenities_banner_element p {
  width: 300px;
  color: #4e4e4d;
  font-style: italic;
}

/*----------section rooms_home_page------*/
#rooms_home_page {
  margin-top: 80px;
}

#rooms_home_page .suite_home_page {
  margin-top: 60px;
}

#rooms_home_page .suite_home_page img {
  max-width: 100%;
}

#rooms_home_page .suite_home_page .suite_home_page_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -15px;
}

#rooms_home_page .suite_home_page .suite_home_page_txt h4 {
  margin: -15px 0 22px 0;
  color: #69b88e;
  font-size: 20px;
}

#rooms_home_page .suite_home_page .suite_home_page_txt i {
  font-size: 20px;
  color: #69b88e;
}

#rooms_home_page .suite_home_page .suite_home_page_txt .man {
  margin-right: 17px;
}

#rooms_home_page .suite_home_page .suite_home_page_txt .fa-square, #rooms_home_page .suite_home_page .suite_home_page_txt .fa-bath {
  margin: 0 22px 0 8px;
}

#rooms_home_page .suite_home_page .suite_home_page_txt .fa-eye {
  margin: 0 19px 0 7px;
}

#rooms_home_page .rooms_kind_home_page {
  margin-top: 80px;
}

#rooms_home_page .rooms_kind_home_page img {
  max-width: 100%;
}

#rooms_home_page .rooms_kind_home_page .rooms_home_page_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/*-----section restaurant_home_page-----*/
#restaurant_home_page .restaurant_home_page_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurant_home_page img {
  max-width: 100%;
}

/*----------section location_home_page--------*/
#location_home_page {
  margin-top: 80px;
}

#location_home_page h2 {
  margin-bottom: 50px;
}

#location_home_page .location_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#location_home_page p {
  margin: 20px 0 20px 80px;
}

#location_home_page i {
  margin-right: 20px;
  color: #69b88e;
}

/*====================== PAGE REGISTER ==========================*/
#inscription {
  height: 1000px;
  text-align: center;
  background-color: #69b88e;
}

#inscription .inscription {
  text-align: center;
  width: 500px;
  height: 800px;
  background-color: white;
  margin: auto;
}

/* ==================== PAGE PRIVATE POLICY ===================*/
#private_policy .logo {
  text-align: center;
  margin-top: 100px;
}

#private_policy h1, #private_policy h2 {
  text-align: center;
}

#private_policy h1 {
  margin-top: 150px;
}

#private_policy .treat {
  width: 100%;
  margin-top: 40px;
}

#private_policy h2 {
  margin: 70px 0 50px 0;
  font-size: 25px;
}

#private_policy h3 {
  font-size: 20px;
  margin: 15px 0 20px 0;
}

/* ===================== PAGE RESERVATION========================*/
/*----------section reservation_detail------*/
.reservation_detail {
  color: green;
}

/* =================== TYPE ROOM PAGE ======================*/
#type_rooms_title {
  width: 100%;
  height: 600px;
  background-image: url("../images/main_type_room.jpg");
  background-position: center center;
  background-size: cover;
  text-align: center;
}

#type_rooms_title h1 {
  font-size: 80px;
  padding-top: 50px;
  color: #5184c7;
}

#type_rooms img {
  width: 100%;
}

#type_rooms .sentence {
  margin-top: 80px;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  color: #4e4e4d;
}

#type_rooms .type_room {
  margin-top: 50px;
}

#type_rooms .name_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#type_rooms .name_price h3 {
  font-family: 'Roboto', cursive;
  font-size: 30px;
}

#type_rooms p {
  margin-bottom: 40px;
  font-size: 17px;
}

#type_rooms .col_opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#type_rooms span {
  margin-bottom: 30px;
}

#type_rooms .logo {
  color: #5184c7;
}

#type_rooms .option {
  margin-left: 15px;
  color: #4e4e4d;
}

#type_rooms .reservation {
  text-align: center;
  margin-top: 30px;
}

/* =================== PAGE RESTAURANT ======================*/
#restaurant_title {
  width: 100%;
  height: 800px;
  background-image: url("../images/restaurant.jpg");
  background-position: center center;
  background-size: cover;
  text-align: center;
}

#restaurant_title h1 {
  padding-top: 60px;
  font-size: 80px;
  color: #69b88e;
}

#restaurant_title h1 span {
  color: #69b88e;
  font-family: 'Parisienne', cursive;
}

/* =================== AMENITIES PAGE ======================*/
#amenities_title {
  width: 100%;
  height: 800px;
  background-image: url("../images/amenities.jpg");
  -webkit-filter: opacity(85%);
          filter: opacity(85%);
  background-position: center center;
  background-size: cover;
  text-align: center;
}

#amenities_title h1 {
  font-size: 80px;
  font-weight: bold;
  padding-top: 35px;
}

#amenities .sentence {
  text-align: center;
  margin: 80px 0 -20px 0;
  font-size: 20px;
  font-style: italic;
}

#amenities img {
  width: 100%;
}

/* =================== DISCOVERY PAGE ======================*/
#discoveries_title {
  width: 100%;
  height: 600px;
  background-image: url("../images/discovery.jpg");
  -webkit-filter: opacity(85%);
          filter: opacity(85%);
  background-position: center center;
  background-size: cover;
  text-align: center;
}

#discoveries_title h1 {
  padding-top: 170px;
  font-size: 80px;
  color: white;
}

#discoveries .sentence {
  margin: 70px 0 -20px 0;
  font-size: 20px;
  font-style: italic;
  color: #4e4e4d;
}

#discoveries .discovery {
  margin-top: 50px;
}

#discoveries .location {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#discoveries .location .city {
  color: #5184c7;
}

#discoveries .location .gps {
  color: #69b88e;
}

#discoveries img {
  width: 100%;
}

/* ======================= SUPPLIERS PAGE ============================*/
#suppliers_title {
  width: 100%;
  height: 800px;
  background-image: url("../images/suppliers.jpg");
  -webkit-filter: opacity(85%);
          filter: opacity(85%);
  background-position: center center;
  background-size: cover;
  text-align: center;
}

#suppliers_title h1 {
  padding-top: 30px;
  margin-right: 140px;
  font-size: 80px;
  color: white;
}

/* ======================= ADMIN PAGE ============================*/
#admin_page {
  width: 100%;
  height: 800px;
  background-color: #a7beda;
  margin-bottom: -20px;
}

#admin_page h1 {
  margin: auto;
  padding-top: 250px;
  margin-bottom: -250px;
}

/* ======================= USERS ADMIN PAGE ============================*/
#users_admin h1 {
  margin: 50px 0;
}

#users_admin table .show, #users_admin table .edit {
  text-decoration: none;
  color: #5184c7;
  font-size: 18px;
}

#users_admin table .show {
  margin-right: 15px;
  color: #69b88e;
}

#users_admin .btn {
  width: 250px;
  margin: 50px 0;
}

/* ======================= ROOMS ADMIN PAGE ============================*/
#rooms_admin h1 {
  padding-top: 50px;
  margin-bottom: 50px;
}

#rooms_admin table .show, #rooms_admin table .edit {
  text-decoration: none;
  color: #5184c7;
  font-size: 18px;
}

#rooms_admin table .show {
  margin-right: 15px;
  color: #69b88e;
}

#rooms_admin .btn {
  width: 250px;
  margin: 50px 0;
}

/* ======================= TYPE ROOM ADMIN PAGE ============================*/
#type_room_admin h1 {
  padding-top: 50px;
  margin-bottom: 50px;
}

#type_room_admin table .td {
  vertical-align: middle;
}

#type_room_admin table .show, #type_room_admin table .edit {
  text-decoration: none;
  color: #5184c7;
  font-size: 18px;
}

#type_room_admin table .show {
  margin-right: 15px;
  color: #69b88e;
}

#type_room_admin .btn {
  width: 250px;
  margin: 50px 0;
}

/* ================== OPTION TYPE ROOM ADMIN PAGE =======================*/
#option_type_room_admin h1 {
  padding-top: 50px;
  margin-bottom: 50px;
}

#option_type_room_admin table .show, #option_type_room_admin table .edit {
  text-decoration: none;
  color: #5184c7;
  font-size: 18px;
}

#option_type_room_admin table .show {
  margin-right: 15px;
  color: #69b88e;
}

#option_type_room_admin .btn {
  width: 250px;
  margin: 50px 0;
}

/* ================== OPTION TYPE ROOM ADMIN PAGE =======================*/
#amenities_admin h1 {
  padding-top: 50px;
  margin-bottom: 50px;
}

#amenities_admin table .show, #amenities_admin table .edit {
  text-decoration: none;
  color: #5184c7;
  font-size: 18px;
}

#amenities_admin table .show {
  margin-right: 15px;
  color: #69b88e;
}

#amenities_admin .btn {
  width: 250px;
  margin: 50px 0;
}

/* ======================= RESTAURANT ADMIN PAGE ============================*/
#restaurant_admin h1 {
  padding-top: 80px;
  margin-bottom: 50px;
}

#restaurant_admin table td {
  vertical-align: middle;
}

#restaurant_admin table .show, #restaurant_admin table .edit {
  text-decoration: none;
  color: #5184c7;
  font-size: 18px;
}

#restaurant_admin table .show {
  margin-right: 15px;
  color: #69b88e;
}

#restaurant_admin .btn {
  width: 250px;
  margin: 50px 0;
}

/* ======================= DISHES ADMIN PAGE ============================*/
#dishes_admin h1 {
  padding-top: 50px;
  margin-bottom: 50px;
}

#dishes_admin table .show, #dishes_admin table .edit {
  text-decoration: none;
  color: #5184c7;
  font-size: 18px;
}

#dishes_admin table .show {
  margin-right: 15px;
  color: #69b88e;
}

#dishes_admin .btn {
  width: 250px;
  margin: 50px 0;
}

/* ======================= CATEGORY DISHES ADMIN PAGE ============================*/
#category_dishes_admin h1 {
  padding-top: 120px;
  margin-bottom: 80px;
}

#category_dishes_admin table .show, #category_dishes_admin table .edit {
  text-decoration: none;
  color: #5184c7;
  font-size: 18px;
}

#category_dishes_admin table .show {
  margin-right: 15px;
  color: #69b88e;
}

#category_dishes_admin .btn {
  width: 250px;
  margin: 120px 0;
}

/* ======================= DRINKS ADMIN PAGE ============================*/
#drinks_admin h1 {
  padding-top: 50px;
  margin-bottom: 50px;
}

#drinks_admin table .show, #drinks_admin table .edit {
  text-decoration: none;
  color: #5184c7;
  font-size: 18px;
}

#drinks_admin table .show {
  margin-right: 15px;
  color: #69b88e;
}

#drinks_admin .btn {
  width: 250px;
  margin: 50px 0;
}

/* ======================= CATEGORY DRINKS ADMIN PAGE ============================*/
#drinks_admin h1 {
  padding-top: 50px;
  margin-bottom: 50px;
}

#drinks_admin table .show, #drinks_admin table .edit {
  text-decoration: none;
  color: #5184c7;
  font-size: 18px;
}

#drinks_admin table .show {
  margin-right: 15px;
  color: #69b88e;
}

#drinks_admin .btn {
  width: 250px;
  margin: 50px 0;
}

/* ======================= SUPPLIERS ADMIN PAGE ============================*/
#suppliers_admin h1 {
  padding-top: 50px;
  margin-bottom: 50px;
}

#suppliers_admin table td {
  vertical-align: middle;
}

#suppliers_admin table .show, #suppliers_admin table .edit {
  text-decoration: none;
  color: #5184c7;
  font-size: 18px;
}

#suppliers_admin table .show {
  margin-right: 15px;
  color: #69b88e;
}

#suppliers_admin .btn {
  width: 250px;
  margin: 50px 0px;
}

/* ======================= CATEGORY SUPPLIERS ADMIN PAGE ============================*/
#category_suppliers_admin h1 {
  padding-top: 120px;
  margin-bottom: 80px;
}

#category_suppliers_admin table .show, #category_suppliers_admin table .edit {
  text-decoration: none;
  color: #5184c7;
  font-size: 18px;
}

#category_suppliers_admin table .show {
  margin-right: 15px;
  color: #69b88e;
}

#category_suppliers_admin .btn {
  width: 250px;
  margin: 100px 0px;
}

/*xxxxxxxxxxxxxxxxxxxRESPONSIVExxxxxxxxxxxxxxxxxx*/
/*========RESPONSIVE HOME PAGE==============*/
@media screen and (max-width: 1500px) {
  .welcome_txt {
    padding: 0 50px;
  }
  .welcome_txt p {
    font-size: 15px;
  }
}

/*========RESPONSIVE RESTAURANT PAGE==============*/
@media screen and (max-width: 1300px) {
  #restaurant_title h1 span {
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */