{% extends 'base.html.twig' %}

{% block title %}Formulaire de réservation{% endblock %}

{% block body %}
    <section id="reservation">
        <h1>Réservez votre séjour</h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
