{% extends 'base.html.twig' %}

{% block title %}Modification type de chambre{% endblock %}

{% block body %}
    <h1>Modifier type de chambre</h1>

    {{ include('type_room/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('type_room_index') }}">Retour à la liste</a>

    {{ include('type_room/_delete_form.html.twig') }}
{% endblock %}
