{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau type de chambre{% endblock %}

{% block body %}
    <h1>Créer un nouveau type de chambre</h1>

    {{ include('type_room/_form.html.twig') }}

    <a href="{{ path('type_room_index') }}">Retour à la liste</a>
{% endblock %}
