{% extends 'admin.html.twig' %}

{% block title %}Modifier catégorie de plat{% endblock %}

{% block body %}
    <section id="edit_category_dishes">
        <h1>Modifier catégorie de plat</h1>
        {{ include('category_dishes/_form.html.twig') }}
        <section class="links">
            <button class="btn">{{ button_label|default('Enregistrer') }}</button>
            <a class="btn back" href="{{ path('category_dishes_admin') }}">Retour</a>
            {{ include('category_dishes/_delete_form.html.twig') }}
        </section>
    </section>
{% endblock %}
