{% extends 'base.html.twig' %}

{% block title %}New CategoryDishes{% endblock %}

{% block body %}
    <h1>Create new CategoryDishes</h1>

    {{ include('category_dishes/_form.html.twig') }}

    <a href="{{ path('category_dishes_index') }}">back to list</a>
{% endblock %}
