{% extends 'admin.html.twig' %}

{% block title %}Nouvelle catégorie de plat{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie de plat</h1>

    {{ include('category_dishes/_form.html.twig') }}

    <a href="{{ path('category_dishes_index') }}">Retour à la liste des catégories</a>
{% endblock %}
