{% extends 'admin.html.twig' %}

{% block title %}Modifier la catégorie du fournisseur{% endblock %}

{% block body %}
    <section id="edit_category_supplier">
        <h1>Modifier la catégorie du fournisseur</h1>
        {{ include('category_suppliers/_form.html.twig') }}
        <section class="links">
            <button class="btn">{{ button_label|default('Enregistrer') }}</button>
            <a class="btn back" href="{{ path('category_suppliers_admin') }}">Retour</a>
            {{ include('category_suppliers/_delete_form.html.twig') }}
        </section>
    </section>
{% endblock %}
