{% extends 'admin.html.twig' %}

{% block title %}Nouvelle catégorie de fournisseur{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie de fournisseur</h1>

    {{ include('category_suppliers/_form.html.twig') }}

    <a href="{{ path('category_suppliers_admin') }}">Retour à la liste</a>
{% endblock %}
