{% extends 'admin.html.twig' %}

{% block title %}Page administration{% endblock %}

{% block body %}
<body>
    <section id="admin_page">
        <h1>ADMINISTRATION<br><br>DU SITE</h1>
        <img src="{{ asset ('images/admin_page.jpg') }}" class="img-fluid">
    </section>
</body>
{% endblock %}
