{% extends 'base.html.twig' %}

{% block title %}Nouveau fournisseur{% endblock %}

{% block body %}
    <h1>Créer nouveau fournisseur</h1>

    {{ include('suppliers/_form.html.twig') }}

    <a href="{{ path('suppliers_admin') }}">Retour à la liste des fournisseurs</a>
{% endblock %}
