{% extends 'admin.html.twig' %}

{% block title %}Modifier service{% endblock %}

{% block body %}
    <section id="edit_amenities">
        <h1>Modifier service</h1>
        {{ include('amenities/_form.html.twig') }}
        <section class="links">
            <button class="btn">{{ button_label|default('Enregistrer') }}</button>
            <a class="btn back" href="{{ path('amenities_admin') }}">Retour</a>
            {{ include('amenities/_delete_form.html.twig') }}
        </section>
    </section>
{% endblock %}
