{% extends 'admin.html.twig' %}

{% block title %}Modifier service{% endblock %}

{% block body %}
    <h1>Modifier service</h1>

    {{ include('amenities/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('amenities_index') }}">retour à la liste des services</a>

    {{ include('amenities/_delete_form.html.twig') }}
{% endblock %}
