{% extends 'base.html.twig' %}

{% block title %}Les services{% endblock %}

{% block body %}
<body>
    <section id="amenities_title">
        <h1>Nos services</h1>
    </section>

    <section id="amenities" class="container">
        <p class="sentence">Pour rendre votre séjour des plus agréables, nous mettons à votre
            disposition des prestationss de haute-qualité.
        </p>
        <div class="treat"></div>
        <div class="row">
            {% for amenity in amenities %}
            <div class="col-lg-6">
                <h2>{{ amenity.nameAmenity }}</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{{ asset('uploads/photos/' ~ amenity.imgAmenity) }}" width="100">
                    </div>
                    <div class="col-lg-6">
                        <p class="description">{{ amenity.descriptionAmenity|raw }}</p>
                        <p class="price">{{ amenity.priceAmenity}}</p>   
                    </div>
                </div>
            </div>
            {% endfor %}
    </section>
</body>
{% endblock %}