{% extends 'admin.html.twig' %}

{% block title %}Nouveau service{% endblock %}

{% block body %}
    <h1>Créer nouveau service</h1>

    {{ include('amenities/_form.html.twig') }}

    <a href="{{ path('amenities_index') }}">Retour à la liste des services</a>
{% endblock %}
