{% extends 'admin.html.twig' %}

{% block title %}Nouveau plat{% endblock %}

{% block body %}
    <h1>Créer un nouveau plat</h1>

    {{ include('dishes/_form.html.twig') }}

    <a href="{{ path('dishes_admin') }}">Retour à la liste des plats</a>
{% endblock %}
