{% extends 'admin.html.twig' %}

{% block title %}Nouveau plat{% endblock %}

{% block body %}
<section id="new">
    <h1>Créer un nouveau plat</h1>

    {{ include('dishes/_form.html.twig') }}

    <a class="btn" href="{{ path('dishes_admin') }}" rel="noopener noefferer">Retour à la liste</a>
</section>
{% endblock %}
