{% extends 'admin.html.twig' %}

{% block title %}Modifier boisson{% endblock %}

{% block body %}
    <section id="edit" class="container">
        <h1>Modifier boisson</h1>

        {{ include('drinks/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        <section class="links">
            <a class="btn" href="{{ path('drinks_admin') }}" rel="noopener noefferer">Retour à la liste</a>
            {{ include('drinks/_delete_form.html.twig') }}
        </section>
    </section>
{% endblock %}
