{% extends 'admin.html.twig' %}

{% block title %}Nouvelle boisson{% endblock %}

{% block body %}
<section id="new">
    <h1>Créer une nouvelle boisson</h1>

    {{ include('drinks/_form.html.twig') }}

    <a class="btn" href="{{ path('drinks_admin') }}">Retour à la liste</a>
</section>
{% endblock %}
