{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
    <section id="restaurant_title">
        <h1>Restaurant Le <span>Lotus</span></h1>
    </section>
    <section id="restaurant_menu" class="container">
        {% for restaurant in restaurants %}
        <div class="row">
            <div class="col-lg-5">
                <img src="{{ asset('uploads/photos/' ~ restaurant.imgStarter) }}">
            </div>
            <div class="col-lg-7">

            </div>
        </div>
        {% endfor %}
    </section>
    {% endblock %}