{% extends 'admin.html.twig' %}

{% block title %}Nouveau Restaurant{% endblock %}

{% block body %}
<section id="new">
    <h1>Créer nouveau restaurant</h1>

    {{ include('restaurant/_form.html.twig') }}

    <a class="btn" href="{{ path('restaurant_admin') }}">Retour à la liste</a>
</section>
{% endblock %}
