{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie de boisson{% endblock %}

{% block body %}
    <h1>Modifier une catégorie de boisson</h1>

    {{ include('category_drinks/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('category_drinks_index') }}">Retour à la liste</a>

    {{ include('category_drinks/_delete_form.html.twig') }}
{% endblock %}
