{% extends 'base.html.twig' %}

{% block title %}Edit Discoveries{% endblock %}

{% block body %}
    <h1>Edit Discoveries</h1>

    {{ include('discoveries/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('discoveries_index') }}">back to list</a>

    {{ include('discoveries/_delete_form.html.twig') }}
{% endblock %}
