{% extends 'admin.html.twig' %}

{% block title %}Modifier activité touristique{% endblock %}

{% block body %}
    <h1>Modifier activité touristique</h1>

    {{ include('discoveries/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('discoveries_index') }}">retour à la liste des activités touristiques</a>

    {{ include('discoveries/_delete_form.html.twig') }}
{% endblock %}
