{% extends 'base.html.twig' %}

{% block title %}New Discoveries{% endblock %}

{% block body %}
    <h1>Create new Discoveries</h1>

    {{ include('discoveries/_form.html.twig') }}

    <a href="{{ path('discoveries_index') }}">Retour à la liste des activités</a>
{% endblock %}
