{% extends 'admin.html.twig' %}

{% block title %}Créer activité{% endblock %}

{% block body %}
    <h1>Creer une nouvelle activité touristique</h1>

    {{ include('discoveries/_form.html.twig') }}

    <a href="{{ path('discoveries_index') }}">Retour à la liste des activités</a>
{% endblock %}
