{% extends 'admin.html.twig' %}

{% block title %}Modifier Contact{% endblock %}

{% block body %}
    <h1>Modifier Contact</h1>

    {{ include('contacts/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('contacts_index') }}">Retour à la liste des contacts</a>

    {{ include('contacts/_delete_form.html.twig') }}
{% endblock %}
